<main>
    <section class="manchete">
        <div class="container">
            <h1>Agências de fomento</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <h3>Financiando para empreender</h3>
                <p>Com a experiência adquirida em mais de 20 anos de atuação em
                    projetos e implantação de soluções de negócios para o mercado
                    financeiro, a PD Case oferece um conjunto de módulos funcionais
                    para gerenciamentos de processos de crédito, que abrange as etapas
                    de análise e concessão de crédito, bem como a administração de
                    carteiras e gestão e cobrança.</p><p>A PD Case, na parte legal suporta todas as demandas exigidas
                        pelo Banco Central e Receita Federal. Na gestão de Riscos, os
                        módulos da PD Case se integram aos sistemas da Élin Duxus, que é
                        uma referência no fornecimento de soluções definidas pela
                        Resolução 3490 do Banco Central.</p>
                        <p>O perfil das soluções atende aos processos de negócios de
                        Agências de Fomento, Bancos focados na concessão de crédito,
                        Bancos de Desenvolvimento, cooperativas de Crédito, dentre outros.</p>
        </div>
        <div class="container">
            <h3>Principais diferenciais da arquitetura</h3>
                <ul>
<li>Integração com soluções de outros fornecedores através do padrão de comunicação Windows;</li>
<li>Modularidade que permite aquisição de módulos independentes;</li>
<li>Plataforma 100% web;</li>
<li>Interface no padrão SOA;</li>
<li>Independente do SGBD.</li>
                </ul>
        </div>
<div class="container">
    <h3>Módulos</h3>
    <div class="grid grid-3">
        <a class="bg-secundaria margem" [routerLink]="['/cadastro-de-pessoas']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Cadastro de pessoas</a>
        <a class="bg-secundaria margem" [routerLink]="['/cobranca-de-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Cobrança &amp; renegociação</a>
        <a class="bg-secundaria margem" [routerLink]="['/analise-e-atendimento']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Analise &amp; atendimento</a>
        <a class="bg-secundaria margem" [routerLink]="['/gestao-de-fundos']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão de fundos</a>
        <a class="bg-secundaria margem" [routerLink]="['/gestao-contabil']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão contábil</a>
        <a class="bg-secundaria margem" [routerLink]="['/gestao-tributaria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão tributos</a>
        <a class="bg-secundaria margem" [routerLink]="['/garantia']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Garantias de crédito</a>
        <a class="bg-secundaria margem" [routerLink]="['/avaliacao']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Avaliação de risco</a>
        <a class="bg-secundaria margem" [routerLink]="['/central-risco-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Central de risco de crédito</a>
        <a class="bg-secundaria margem" [routerLink]="['/gerencial-iformativos-carteira']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gerencial</a>
        <a class="bg-secundaria margem" [routerLink]="['/gestao-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão de crédito</a>
        <a class="bg-secundaria margem" [routerLink]="['/sped']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">SPED</a>
        <a class="bg-secundaria margem" [routerLink]="['/recuperacao-de-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Recuperação de crédito</a>
        <a class="bg-secundaria margem" [routerLink]="['/contratos-prejuizo']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Contratos em prejuizos</a>
    </div>
</div>
</section>
</main>