<main>
    <section class="manchete">
        <div class="container">
            <h1>E-Financeira</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>A E-financeira é um conjunto de arquivos digitais referentes a cadastro, abertura, fechamento e auxiliares, e pelo módulo de operações financeiras.</p>
                <p>Foi instituída pela  Instrução Normativa RFB nº 1571, de 02 de julho de 2015 que disciplina a obrigatoriedade de prestação de informações relativas às operações financeiras de interesse da Secretaria da Receita Federal do Brasil (RFB).</p>
        </div>
        <div class="container">
            <h3>Quem deve seguir as regras</h3>
        <p>Ela deve ser transmitida ao SPED pelos obrigados à adotá-la:</p>
        <p>I - Pessoas jurídicas:</p>
        <ul><li><p>Autorizadas a estruturar e comercializar planos de benefícios de previdência complementar;</p></li>
        <li><p>Autorizadas a instituir e administrar Fundos de Aposentadoria Programada Individual (Fapi); </p></li>
        <li><p>Que tenham como atividade principal ou acessória a captação, intermediação ou aplicação de recursos financeiros próprios ou de terceiros, incluídas as operações de consórcio, em moeda nacional ou estrangeira, ou a custódia de valor de propriedade de terceiros; </p></li></ul>
        <p>II - Sociedades seguradoras autorizadas a estruturar e comercializar planos de seguros de pessoas.</p>

        <p class="fonte-fraca">Fonte: Receita Federal</p>
    </div>
    </section>
</main>