<div class="manchete">
  <div class="container-titulo">
    <h1 class="titulo-pagina">
      Centralizador de transferência de arquivos
      <span class="cta">(CTA)</span>
    </h1>
  </div>
</div>
<main class="main">
  <div class="container-div">
    <div class="container-texto">
      <h3 class="titulo-texto">PDCTA (STA BACEN)</h3>
      <p class="texto">
        Sistema Centralizador de Transferência de Arquivos, é a solução
        corporativa que substitui os aplicativos PSTAW10 e PSTAC10 do BACEN.
        Gerencia, transmite e controla o histórico dos envios de arquivos ao
        BACEN em um só lugar.
        <br /><br />
        Com interface e usabilidade muito mais fácil e amigável. O padrão visual
        do PD_CTA assemelha-se ao STA do BACEN, reduzindo assim a curva de
        aprendizagem dos usuários.
        <br /><br />
        Transforma as rotinas corriqueiras executadas por usuários, de envio e
        recebimento de arquivos, em ações automáticas executadas pelo sistema.
      </p>
    </div>
  </div>
  <div class="container-div">
    <div class="container-texto">
      <h3 class="titulo-texto">Reduz custos</h3>
      <ul>
        <li>
          Diminui a complexidade na adequação de sistemas ao consumo do web
          services do BACEN.
        </li>
        <li>
          Redução na manutenção evolutiva, por conta de melhorias implementadas
          no STA.
        </li>
        <li>
          Aumento da disponibilidade dos responsáveis pelo envio manual dos
          documentos.
        </li>
      </ul>
    </div>
    <div class="container-texto">
      <h3 class="titulo-texto">Diminui riscos</h3>
      <ul>
        <li>
          Redução de riscos operacionais com a implementação de processos
          executados por serviços agendados.
        </li>
        <li>
          Validação de arquivos XML de forma integrada e com controle histórico
          de versões do XSD.
        </li>
        <li>
          Arquivos disponíveis para a IF baixados assim que disponibilizados.
        </li>
      </ul>
    </div>
    <div class="container-texto">
      <h3 class="titulo-texto">Melhora o controle</h3>
      <ul>
        <li>Permite que o ciclo de vida de um arquivo seja rastreado.</li>
        <li>
          Controle de acesso aos dados por usuário, sem a necessidade de
          cadastramento junto ao BACEN.
        </li>
        <li>
          Envio de Email para pessoas relacionadas ao Documento em cada fase do
          processo.
        </li>
      </ul>
    </div>
  </div>
  <div class="container-div titulo-colunas">
    <div class="container-texto">
      <h3 class="titulo-texto">Funcionalidades</h3>
    </div>
  </div>
  <div class="container-div">
    <div class="container-colunas">
      <div class="coluna">
        <div class="container-titulo-coluna">
          <p class="texto">Upload</p>
        </div>
        <div class="container-texto-coluna">
          <p class="texto">
            O envio de arquivos pode ser executado de três formas diferentes:
          </p>
          <ul class="lista-coluna">
            <li>
              <strong>Síncrona:</strong> para sistemas que necessitam de uma
              confirmação de envio dentro do ciclo de vida da transação, o
              PD_CTA disponibiliza um Web Service.
            </li>
            <li>
              <strong>Assíncrona:</strong> um serviço pré-agendado para horários
              a definir, irá recuperar o arquivo disponibilizado e se
              encarregará de realizar o envio. Após confirmação de recebimento
              pelo BACEN um XML de resposta estará disponível.
            </li>
            <li>
              <strong>Contingência:</strong> para situações onde as duas
              anteriores não tiveram efetividade o usuário poderá fazer o envio
              manualmente.
            </li>
          </ul>
        </div>
      </div>
      <div class="coluna coluna-pequena">
        <div class="container-titulo-coluna">
          <p class="texto">Download</p>
        </div>
        <div class="container-texto-coluna">
          <p class="texto">
            O recebimento de arquivos é realizado de duas formas: Assíncrona e
            Contingência.
          </p>
        </div>
      </div>
      <div class="coluna coluna-pequena">
        <div class="container-titulo-coluna">
          <p class="texto">Consulta</p>
        </div>
        <div class="container-texto-coluna">
          <p class="texto">
            Estado dos arquivos atualizados de forma automática ou através do
            acesso a tela do PD_CTA.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
