<div class="manchete">
  <div class="container">
    <h1 class="titulo-pagina">Beneficiários do INSS</h1>
  </div>
</div>

<main class="main">
  <section class="container">
    <div class="linha">
      <div class="coluna">
        <h3 class="titulo-texto">Rede de Pagamentos da Previdência Social</h3>
        <p>
          O conjunto de benefícios pagos pelo INSS em todo o país alcança a
          magnitude de mais de 25 milhões de transações/mês. A previdência
          social é o maior agente pagador e se destaca pelo alcance em todo
          território nacional.
          <br /><br />
          Ao oferecer alternativas de pagamento do INSS, a instituição se
          habilita a participar de todos os processos vigentes do fluxo
          previdenciário, que possui histórico de garantia de crédito, apesar do
          crescente déficit.
        </p>
      </div>
    </div>
  </section>

  <section class="container bg-secundaria">
    <div class="linha">
      <div class="coluna">
        <h3 class="titulo-texto">DATAPREV</h3>
        <p>
          O BENEFICIÁRIO DO INSS atende os requisitos operacionais de tratamento
          de dados das REMESSAS e arquivo de RETORNO processados pela DATAPREV,
          empresa de tecnologia ligada ao MPAS – Ministério de Previdência e
          Assistência Social.
        </p>
      </div>
      <div class="coluna">
        <h3 class="titulo-texto">Criando Oportunidades</h3>
        <p>
          A partir dos dados de beneficiários, a instituição pode-se valer de
          informações financeiras para oferecer produtos próprios, ou ainda
          fomentar a participação em mercados localizados devido à concentração
          de recursos nos cinco primeiros dias úteis de cada mês.
        </p>
      </div>
    </div>
  </section>
</main>
