
<main>
    <section class="manchete">
        <div class="container">
            <h1>Captações de mercado</h1>
        </div>
    </section>
    <section>
        <div class="container"><h3>Alavancando a Entrada de Recursos</h3>
            <p>A busca pelo investidor congrega uma série de produtos financeiros que permite adequar ao porte, perfil de risco e prazo de manutenção de recursos investidos, que possa garantir a melhor retantabilidade ao cliente. Nesse sentido, a disponibilidade de investimentos requer sistemas diferenciados tendo em vista a forma de tratamento da rentabilização dos valores investidos.
            </p><p>
O portifólio de soluções para atendimento de captação da PD CASE é composta com sistema integrados as informações de CADASTRO, bem como a origem de entradas(ou aplicações) e saidas(ou resgates), oriundos dos canais de atendimento(Automação , Internet Banking, Mobile etc), concentrados no módulo de Contas Correntes, que a priori determina o relacionamento de informações com o cliente.
</p><p>
As soluções de negócios devem ser customizadas de acordo com a arquitetura e padrões de integração e convivência entre sistemas, atendendo ainda as peculiaridades da instituição.
</p><p>
Os módulos constantes na Capatação de Mercado são descritos a seguir. 
</p></div>

<div class="container grid grid-3">
    <a class="bg-secundaria margem" [routerLink]="['/gestao-de-fundos']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Fundos de investimento</a>
    <a class="bg-secundaria margem" href="https://www.pdcase.com/conta-corrente.html">Contas correntes</a>
    <a class="bg-secundaria margem" [routerLink]="['/poupanca']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Poupança</a>
    <a class="bg-secundaria margem" [routerLink]="['/deposito-a-prazo']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Depósito a prazo</a>
    <a class="bg-secundaria margem" [routerLink]="['/deposito-judiciais']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Depósito judiciais</a>
        </div>
    </section>
</main>