main {
    background: var(--cor-separador);
}

main {
    display: block;
    unicode-bidi: isolate;
}
.manchete {
    background: url(/assets/logo-bg2.svg) 20% center / auto 110%, url(/assets/logo-bg2.svg) 0 center / auto 160% fixed, radial-gradient(ellipse at left top, var(--cor-primaria), #000);
}

body, input, textarea, select {
    font: 16px / 1.625 "Raleway", sans-serif;
    background: var(--cor-bg);
    color: var(--cor-fonte);
}
section {
    display: block;
    unicode-bidi: isolate;
}

.container+.container {
    padding-top: 0;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid {
    display: grid
;
    gap: calc(var(--margem)* 2);
}
.container {
    box-sizing: border-box;
    margin: auto;
    max-width: 1008px;
    padding: calc(var(--margem)* 2.5) var(--margem);
}
.container, nav a, .rel, .txt-destaque, .decor {
    position: relative;
}

div {
    display: block;
    unicode-bidi: isolate;
}

@media screen and (min-width: 1000px) {
    h1:not(.maior)::before, h1:not(.maior)::after {
        content: "";
        border: solid rgba(255, 255, 255, .15);
        border-width: 0 1px;
        width: 24px;
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 15%;
    }
}
h1:not(.maior) {
    margin-top: calc(var(--margem)* 5);
}
h1 {
    font-size: calc(var(--margem)* 2);
    line-height: 1.25;
    font-weight: 400;
}
h1, h2 {
    font-family: "Vollkorn", serif;
}


h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

@media screen and (min-width: 1000px) {
    h1:not(.maior)::after {
        left: 24px;
        top: 50%;
        bottom: 0;
    }
}

h3:not(:last-child) {
    margin-bottom: var(--margem);
}
h3 {
    font-size: calc(var(--margem) / 2 + 12px);
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {
    margin: 0 0 var(--margem);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.grid>a {
    transition: background-color .2s ease-in-out;
}
.bg-secundaria, .bg-terciaria {
    background: var(--cor-secundaria);
    color: var(--cor-bg);
}
.margem, .success, .error {
    padding: var(--margem);
}
a {
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Faz com que cada item ocupe uma linha */
    }

    .grid-3 {
        grid-template-columns: 1fr; /* Mesma lógica para a classe grid-3 */
    }
}
