<main>
  <section class="manchete">
    <div class="container">
      <h1>Requisições judiciais</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h3>PDJud</h3>
      <p>
        Controle de Requisições Judiciais visa absorve todos as fases de
        processos judiciais nas quais a empresa está envolvida. Nas condições em
        que a empresa é executante ou executada são permitidos tratamento das
        partes envolvidas, bem como todos os eventos programados ou não de
        acordo com trâmites previstos na esfera judicial ou administrativa.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Agendamento</h3>
          <p>
            As agendas permitem antecipar a designação das pessoas envolvidas e
            da documentação necessária a cada etapa dos processos envolvidos,
            com mecanismos de comunicação das instâncias envolvidas, que podem
            ser customizados aos sistemas de mensagens adotados pela empresa.
          </p>
        </div>
        <div class="coluna">
          <h3>Processos</h3>
          <p>
            Os processos típicos atendidos se referem a execuções de clientes ou
            empregados, ou mesmo de execução de cobrança de créditos
            inadimplentes. Esses processos podem ser integrados à solução de
            Gestão de Crédito, que pode ter conhecimento de andamento de
            tratativas de cobrança, renegociação e de pagamentos feitos pelo
            cliente, evitando execuções indevidas.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
