<main>
  <section class="manchete">
    <div class="container">
      <h1>Gestão contábil</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        Todas as informações financeiras legais a qualquer instituição
        autorizada pelo BACEN devem ser baseadas no COSIF – Contabilidade do
        Sistema Financeiro que não permite uma visão gerencial na forma de
        tratamento das práticas de negócios.
      </p>
      <p>
        A GESTÃO CONTÁBIL da PD CASE é aderente aos requisitos da autoridade
        monetária, com flexibilização de plano de contas próprios com vista a
        utilizar como ferramenta de análise gerencial.
      </p>
      <p>
        Todos os métodos de armazenamento de eventos e posições contábeis são
        estruturados de forma a obter visão por produtos, segmentação de
        clientes, centro de custo, com possibilidade de cálculo de médias por
        evento de negócio.
      </p>
      <p>
        A modelagem de eventos e saldos permite subsidiar informações para BSC –
        Balanced ScoreCard, que é uma metodologia consolidada no planejamento
        estratégico de qualquer instituição.
      </p>
    </div>
    <div class="container">
      <h3>Estrutura contábil</h3>
      <p>
        O princípio da ESTRUTURA CONTÁBIL vincula as contas COSIF ao elenco de
        contas internas, de acordo com a usabilidade da instituição. Para cada
        tipo de conta podem ser definidas restrições ao seu uso, que evitam
        lançamento em conta não autorizada.
      </p>
      <p>
        Os planos de contas podem ser segmentados de acordo com o perfil de cada
        empresa ou dependência, evitando movimentações indevidas.
      </p>
    </div>
    <div class="container">
      <h3>Integração de sistemas</h3>
      <p>
        A integração de movimentos financeiros dos demais sistemas corporativos
        agiliza os controles contábeis e diminui as ocorrências de erro por
        inconsistência.
      </p>
      <p>
        Toda integração é feita de modo síncrono, isto é, ao submeter o serviço,
        o processamento é feito imediatamente, tendo retorno do resultado.
      </p>
      <p>
        O uso de integração via eventos de negócios viabiliza a rastreabilidade
        de processos, podendo ser visualizados dados de identificação de
        cliente, produtos e contrato a cada lançamento. Viabilizando a
        implantação de práticas de “Business Intelligence”, com regras de
        validação às posições contábeis.
      </p>
    </div>
    <div class="container">
      <h3>Processo de integração de sistemas</h3>
      <p>
        Inicialmente deve ser cadastrada a INTERFACE, que define os parâmetros
        necessários para efetivação da integração. As fases de entrada podem
        incluir esquemas de eventos de negócios, lançamentos dobrados ou lotes
        de lançamentos.
      </p>
      <p>
        Alternativamente ao processo de integração é permitida a digitação de
        partidas pela retaguarda, quando são aplicadas regras de validação de
        dados. Em todos os casos, a atualização de saldos é feita de modo
        on-line, não havendo necessidade de execução de rotinas BATCH.
      </p>
      <p>
        A figura ao lado ilustra o esquema de processamento, que pode atender
        sistemas financeiros e outros sistemas administrativos.
      </p>
    </div>
  </section>
</main>
