<main>
    <section class="manchete">
        <div class="container">
            <h1>Rede de compras - Cartões</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>A Rede de Compras é um sistema que permite aos clientes do banco efetuar transações de
                compras nos diversos estabelecimentos comerciais conveniados ao Banco e com acesso a rede,
                via equipamento tipo PDV através de transações on-line.</p>
            <p>O público alvo são os correntistas possuidores de cartão de conta corrente e os beneficiários do
                INSS que recebem seus proventos e possuem o cartão de saque do INSS. Aos clientes que
                recebem seus proventos através de crédito em conta é facultado a disponibilização de um limite
                de crédito proporcional a sua renda mensal</p>
        </div>
        <div class="container">
            <h3>Controle</h3>
            <p>São feitos controles financeiro e contábil das transações efetuadas na Rede, desde a compra
                até o repasse final aos lojistas. As modalidades de operações permitidas são:</p>
            <ul>
                <li>Compra à vista com saldo do cliente;</li>
                <li>Compra à vista com saldo do limite de crédito;</li>
                <li>Compra a prazo sem juros;</li>
                <li>Compra a prazo com juros.</li>
            </ul>
        </div>
    </section>
</main>