<footer>
  <div class="footer-container">
    <div class="coluna">
      <dl>
        <dt>Sobre</dt>
        <dd><a [routerLink]="['/sobre']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Quem somos </a></dd>
        <dd><a [routerLink]="['/carreiras']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Carreiras</a></dd>
        <dd><a [routerLink]="['/contatos']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Contato</a></dd>
        <dd><a [routerLink]="['/politica-de-privacidade']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Política de privacidade</a></dd>
        <dd><a [routerLink]="['/relatorio-de-igualdade']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Relatório de Igualdade Salarial</a></dd>
      </dl>
    </div>
    <div class="coluna">
      <dl>
        <dt>Produtos financeiros</dt>
        <dd><a [routerLink]="['/core-bancario']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Core bancário</a></dd>
        <dd><a [routerLink]="['/portal-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Portal de Credito</a></dd>
        <dd><a [routerLink]="['/agencia-de-fomento']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Agencia de fomento</a></dd>
        <dd><a [routerLink]="['/mercado-digital']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Mercado digital</a></dd>
        <dd><a [routerLink]="['/controladoria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Controladoria</a></dd>
        <dd><a [routerLink]="['/informes-legais']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Informes legais</a></dd>
      </dl>
    </div>
    <div class="coluna">
      <dl>
        <dt>Serviços</dt>
        <dd><a [routerLink]="['fabrica-de-software']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Fábrica de software</a></dd>
        <dd><a [routerLink]="['consultoria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Consultoria</a></dd>
        <dd><a [routerLink]="['outsourcing']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Outsourcing</a></dd>
        <dd><a [routerLink]="['integracao']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Integração</a></dd>
        <dd><a [routerLink]="['sustentacao-de-sistemas']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Sustentação de sistemas</a></dd>
        <dd><a [routerLink]="['porte-cobol']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Porte Cobol</a></dd>
      </dl>
    </div>
    <div class="coluna logo">
      <a [routerLink]="['index']" id="logo" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">PD Case</a>
      <p>© 1991–2022 PD Case</p>
      <div class="social">
        <a
          href="https://www.instagram.com/pdcaseinformatica/"
          target="_blank"
          class="icone-instagram"
          title="Instagram"
        ></a>
        <a
          href="https://www.facebook.com/pdcaseinformatica/"
          target="_blank"
          class="icone-facebook"
          title="Facebook"
        ></a>
        <a
          href="https://www.linkedin.com/company/pd-case-informatica-ltda/about/"
          target="_blank"
          class="icone-linkedin"
          title="LinkedIn"
        ></a>
      </div>
    </div>
  </div>
</footer>
