<main>
  <section class="manchete">
    <div class="container">
      <h1>PDBank</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        Voltando o seu foco para o mercado bancário, a PD Case desenvolveu o
        PD_BANK. Trata-se de um conjunto de soluções corporativas que visam
        atender ao "CORE BUSINESS" dos bancos.
      </p>
      <p>
        A alta da economia brasileira, novas regras do Bacen, disputa mais
        acirrada pelas carteiras de clientes, e rápidas e constantes mudanças
        tecnológicas compõem um cenário exigente para os bancos. Acompanhar este
        mercado tem demandado grandes investimentos. A implementação de novos
        produtos e serviços tem onerado e retardado os cronogramas em muitas
        instituições.
      </p>
    </div>
    <div class="container">
      <h3>Motivação / Justificativa</h3>
      <p>
        Com a existência de plataformas tecnológicas heterodoxas, os serviços de
        desenvolvimento de novos softwares muitas vezes são replicados como
        forma de agregar as regras de negócios dentro dos diversos canais ou
        dentro do core bancário.
      </p>
      <p>
        Em regra geral, as soluções imediatistas e/ou atrasos nos cronogramas
        quase sempre prejudicam o acompanhamento da instituição às tendências de
        mercado. Daí, a expectativa por sistemas do CORE BUSINESS mais ágeis,
        robustos, confiáveis, e facilmente gerenciáveis, resultam em frustração
        em alguns bancos.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Metodologia</h3>
          <p>
            Com o conhecimento das práticas legais e comerciais de mercado, as
            soluções PD_BANK permitem queimar etapas nos processos de
            desenvolvimento e implementação de novos produtos e serviços. Na
            atividade bancária, um grande fator de alavancagem de novos negócios
            está em uma plataforma de sistemas bem projetados com flexibilidade
            de mudança que permita acompanhar as novas tendências
            mercadológicas.
          </p>
          <p>
            A flexibilidade no uso das soluções PD_BANK permite aos bancos
            usarem somente os módulos mais adequados aos nichos de mercado a
            serem explorados, sendo estes facilmente adaptáveis às
            particularidades operacionais e de negócio em total conformidade com
            os normativos dos órgãos reguladores.
          </p>
        </div>
        <div class="coluna">
          <h3>O que foi alcançado</h3>
          <p>
            As soluções PD_BANK atendem, de forma integrada, modular e
            parametrizada, todas as necessidades de uma instituição financeira:
          </p>
          <ul>
            <li>
              Processamento, controle e gestão das áreas de
              <a class="link" [routerLink]="['/controladoria']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                >Controladoria e Controles Internos</a
              >;
            </li>
            <li>Gestão de Clientes, Mercado &amp; Captação;</li>
            <li>
              <a class="link" [routerLink]="['/portal-credito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                >Crédito &amp; Fomento</a
              >
            </li>
            <li>
              <a class="link" [routerLink]="['/core-bancario']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                >Serviços Bancários</a
              >
            </li>
            <li>Suporte aos Canais de Atendimento.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Mais informações</h3>
      <div class="grid grid-3">
        <a class="link-container" [routerLink]="['/cadastro-de-pessoas']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Gestão de clientes</a
        >
        <a class="link-container" [routerLink]="['/controladoria']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Controladoria</a>
        <a class="link-container" [routerLink]="['/captacoes-de-mercado']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Captação de mercado</a
        >
        <a class="link-container" [routerLink]="['/portal-credito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Crédito e fomento</a
        >
        <a class="link-container" [routerLink]="['/core-bancario']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Serviços bancários</a
        >
      </div>
    </div>
  </section>
</main>
