<main>
  <section class="manchete">
    <div class="container">
      <h1>Mensagens SMS</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        O mecanismo de SMS, com texto informativo limitado, é um instrumento
        ágil em dar conhecimento ao cliente de fato direcionado sob sua
        responsabilidade, tendo em vista a rapidez no entendimento da mensagem e
        na difusão de uso de dispositivos móveis (Celulares).
      </p>
      <p>
        Qualquer movimentação financeira pode ter confirmação feita por alerta
        descritivo. A ocorrência de possíveis fraudes em cartões de crédito,
        tentativa de acesso em conta corrente ou mesmo antecipação de despesas
        agendadas (ex. DDA, débito automático etc) podem ser alertadas
        diretamente ao usuário.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Segurança</h3>
          <p>
            Na segurança de transação podem ser enviadas senhas temporárias
            (PIN), que servem de controle de aceite e aprovação de transações em
            canais eletrônicos.
          </p>
        </div>
        <div class="coluna">
          <h3>Customizado</h3>
          <p>
            Existe uma gama de possibilidades de aplicação do SMS no
            relacionamento com clientes, que devem ser customizadas de acordo
            com a política de segurança.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
