<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Core bancário</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Integrando clientes e empresas </h3>
            <p class="texto">
                O arcabouço de prestações de serviços dos bancos abrange principalmente os mecanismos de pagamentos e recebimetos de empresas conveniadas através de padronização de transações de troca de informações. A parte visível ao usuário final consiste no uso de canais eletrônicos e presenciais para realizar de transações.
                <br><br>
                Por trás dos procedimentos de canais, e com objetivo de dar ciência na realização das transações existem uma seríe de troca de informações. Cada modalidade de transações possuem especificações próprias, com requisitos técnicos de intercâmbio de dados. O conjunto de soluções da PDCASE atende as necessidades específicas de cada serviço.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-grid">
            <a [routerLink]="['/arrecadacao']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Arrecadação</a>
            <a [routerLink]="['/compensacao-eletronica']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Compensação eletrônica</a>
            <a [routerLink]="['/pagamento']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Pagamento de empresas</a>
            <a [routerLink]="['/cobranca-bancaria']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Cobrança bancária</a>
            <a [routerLink]="['/intercambio']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Intercâmbio padrão Febraban</a>
            <a [routerLink]="['/inss']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Beneficiários do INSS</a>
            <a [routerLink]="['/dda']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Débito Direto Autorizado</a>
            <a [routerLink]="['/cesta-de-tarifas']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Cesta de tarifas</a>
            <a [routerLink]="['/agendamento']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Agendamento e débito automático</a>
        </div>
    </div>
</main>
