<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Cobrança de crédito</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
        <p>A sistematização dos processos de
            cobrança de crédito em mecanismos
            padrões garante tratamento uniforme
            junto à clientela, evitando distorções ou
            mesmo desgaste ao executar ações de
            cobrança por atraso. 
            </p>
            <p>A definição de perfil de agente de
            cobrança, aliada a orientação formal,
            prazos e severidade de ação resulta
            numa política única de relacionamento,
            porém, com distinção aos riscos de não
            pagamento conforme o tipo de produto
            ofertado.</p>
            <p>A solução de COBRANÇA DE CRÉDITO
            permite a definição de catálogo geral de
            ações de cobrança, que abrangem regras de
            tempo de realização, prioridade e custos de
            realização. 
            </p>
            </div>
            <div class="container container-texto">
                <div class="linha">
                    <div class="coluna"> 
                        <h3>Padronização de fluxos de cobrança</h3>
                            <p>A composição das ações dentro de réguas de
                            cobrança determina um “Work Flow” de
                            trabalho a ser designado aos agentes de
                            cobrança, que pode ainda ser segmentado
                            de acordo com especialização da pessoa a
                            relacionar junto ao cliente. Assim como pode ser visto no fluxo ao lado.</p><p> 
        A visão de cobrança retrata sempre a posição do saldo devedor do contrato crédito. A cada ação é calculada de forma instantânea a posição de saldos atualizados de acordo com módulo de GESTÃO DE CRÉDITO. </p>
</div>
                    <div class="coluna">
                        <h3>Informações de cobrança</h3>
                            <p>Todas as informações de cobrança são originadas do sistema de crédito onde é administrado o contrato. Através serviços acoplados na rotina diária são mantidas as posições de parcelas de contratos. O cálculo dos saldos de cada parcela utilizada as regras de negócios indicadas no contrato no momento da efetivação.
                            </p>
                    </div>
                </div>
            </div>
            <div class="container container-texto">
                <div class="linha">
                    <div class="coluna"> 
                        <h3>Executando ações de cobrança</h3>
                            <p>A conjunção das parcelas em cobrança com as regras de programação de ações gera uma agenda diária de trabalho, visando cobrar as parcelas em atraso, que são demonstradas aos agentes de acordo com prioridade e prazo de indicado ao perfil do produto de crédito.</p>
                            <p>A figura ao lado ilustra a forma de trabalho dos agentes de cobrança que acessam a agenda de trabalho dentro do seu perfil, de modo a verificar as pendências de pagamento, e consequente visualização do saldo devedor em atraso do cliente na data de execução de cobrança.</p>
                        </div>
                    <div class="coluna">
                        <h3>Ações de Cobrança</h3>
                            <p>As ações compõem um extrato de relacionamento do cliente, que pode ser acessível a qualquer momento numa possível renegociação do contrato, havendo alternativa do próprio agente registrar um acordo, que somente pode ser viabilizado por gerente de negócios autorizado. 
                            </p>  
                            <p>O tratamento de ações de cobrança numa única sistemática permite avaliar a performance de áreas de cobrança, criando ainda instrumentos de avaliação da eficácia de ações, que subsidia ao gestor de cobrança no aprimoramento das réguas de cobrança</p>
                    </div>
                </div>
            </div>
</section>
</main>