<main>
  <section class="manchete">
    <div class="container">
      <h1>Gerencial e informativos carteira</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        Para alta gerência é fundamental o fornecimento de dados empíricos na
        análise de performance das carteiras de crédito.
      </p>
      <p>
        Baseado na formatação de dados originados nos módulos de gerenciamento
        de processos de crédito, o módulo GERENCIAL permite fazer diagnósticos
        de carteiras usando as informações derivadas na administração de
        contratos, bem como fazer, projeções através de cenários.
      </p>
      <p>
        A estrutura dos dados e demais relacionamentos permitem formatar
        gráficos ilustrativos sobre a composição e evolução de saldos através de
        fatores como, linhas de crédito, unidades de negócios, classificação de
        risco, clientes, etc.
      </p>
      <p>
        Em termos de avaliação de retorno, podem ser feitas projeções
        comparativas com taxas prefixadas ou indexadores usuais de mercado, como
        CDI e SELIC, de modo a mensurar o custo de captação e taxa de retorno
        projetada.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Gráficos gerados</h3>
          <p>
            Através de estruturação de equivalência de saldos e lançamentos
            derivados de contas internas, podem ser feitas análises comparativas
            das informações fornecidas.
          </p>
          <p>
            Todos os gráficos gerados permitem a alimentação de parâmetros numa
            mesma instância, de modo que o usuário possa submeter variações numa
            mesma sequencia, podendo ainda exportar a figura para construção de
            apresentações.
          </p>
          <p>
            Outra propriedade dos gráficos gerados consiste na disponibilidade
            de índices e valores em cada parte dos gráficos. Essa sistemática
            permite o entendimento imediato sem necessidade de recorrer a bases
            externas.
          </p>
        </div>
        <div class="coluna">
          <h3>Uma arquitetura independente de sistemas</h3>
          <p>
            O módulo GERENCIAL é disponibilizado de forma independente dos
            demais módulos das soluções da PDCASE. Através de estrutura de dados
            padrões, que podem ser originadas de quaisquer sistemas, os dados
            são migrados para um banco de dados independente, que realiza o
            processamento de acordo com a periodicidade definida na composição
            dos processos de negócios.
          </p>
          <div class="linha">
            <div class="bg-primaria coluna">
              <div class="titletopic" id="titlelink">Fornecedores de dados</div>
              <p>
                <a
                  class="item"
                  [routerLink]="['/gestao-credito']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Gestão de crédito</a
                >
                <a
                  class="item"
                  [routerLink]="['/analise-e-atendimento']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Análise &amp; atendimento</a
                >
                <a
                  class="item"
                  [routerLink]="['/cobranca-de-credito']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Cobrança e renegociação</a
                >
                <a
                  class="item"
                  [routerLink]="['/gestao-contabil']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Contabilidade COSIF</a
                >
              </p>
            </div>

            <div class="bg-primaria coluna">
              <div class="titletopic" id="titlelink">
                Módulos complementares
              </div>
              <p>
                <a
                  class="item"
                  [routerLink]="['/cadastro-de-pessoas']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Cadastro de pessoas</a
                >
                <a
                  class="item"
                  [routerLink]="['/contatos']"
                  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
                  >Base Corporativa</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Múltiplos sistemas de crédito</h3>
          <p>
            A visão gerencial das carteiras de crédito pode ser derivada de
            múltiplos sistemas de crédito. A premissa básica requer a formatação
            de dados de acordo validades previamente definidas, que são a priori
            oriundas dos padrões exigidos na Central de Risco(CRC) regulamentada
            pelo Banco Central.
          </p>
          <p>
            A disponibilidade dos gráficos pode ser feita através de qualquer
            navegador, sem a necessidade de aquisição de software de mapeamento
            de dados, ou de exibição de gráficos.
          </p>
        </div>
        <div class="coluna">
          <h3>Modelagem dos dados</h3>
          <p>
            A modelagem de dados utiliza técnicas de mapeamento de tabelas fatos
            e dimensões, que viabiliza a implementação de BI - Business
            Intelligence para análise de dados. O recurso de visualização de
            dados empíricos com relacionamento a dados analíticos permitem a
            aplicação funções de “Drill-Down”, no qual o usuário pode acessar
            todos os registros que compõem o conteúdo originário.
          </p>
          <p>
            Dependendo do volume de dados dos sistemas originários pode ser
            requerido um banco de dados mais robusto, que permita rápido retorno
            dos dados consolidados.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
