

body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

/* Elementos principais */
main {
  background: var(--cor-separador);
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 100%;
  padding: calc(var(--margem) * 2) var(--margem);
}

.container + .container {
  padding-top: 0;
}

.container,
nav a,
.rel,
.txt-destaque,
.decor {
  position: relative;
}

/* Títulos */
h1,
h2 {
  font-family: "Vollkorn", serif;
}

h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: calc(var(--margem) * 2);
  line-height: 1.25;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  margin-top: calc(var(--margem) * 7); /* Aumenta a margem superior */
}

h1:not(.maior)::before,
h1:not(.maior)::after {
  content: none;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: var(--margem);
  font-weight: bold;
}

h3 {
  font-size: 20px;
  margin-bottom: var(--margem);
  font-weight: bold;
}

/* Parágrafos e listas */
p,
ul,
ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
  margin-bottom: var(--margem);
}

/* Classes específicas */
.manchete {
  background: url(/assets/logo-bg2.svg) 20% center / auto 110%,
    url(/assets/logo-bg2.svg) 0 center / auto 160% fixed,
    radial-gradient(ellipse at left top, var(--cor-primaria), #000);
}

.bg-primaria {
  background: var(--cor-primaria);
}

.fonte-menor {
  font-size: 0.875em;
}
.titletopic {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: var(--cor-secundaria);
  padding: 7px 24px;
}

/* Links */
.item {
  padding: 7px var(--margem);
  box-shadow: 0 -1px var(--cor-separador) inset;
  display: block;
}

a {
  text-decoration: none;
  color: var(--cor-fonte-forte);
  transition: background-color 0.2s ease-in-out;
}

a.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: inherit;
  transition: background-color 0.2s ease-in-out;
}

/* Layout responsivo */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1008px;
    padding: calc(var(--margem) * 2.5) var(--margem);
  }

  .linha {
    display: flex;
    gap: calc(var(--margem) * 2);
  }

  .coluna {
    flex: 1 1;
  }

  .coluna:not(:last-child) {
    margin-bottom: 0;
  }

  h1:not(.maior) {
    margin-top: calc(var(--margem) * 5);
  }

  h1:not(.maior)::before,
  h1:not(.maior)::after {
    content: "";
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0 1px;
    width: 24px;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 15%;
  }

  h1:not(.maior)::after {
    left: 24px;
    top: 50%;
    bottom: 0;
  }
}

/* Versão mobile (<= 999px) */
@media screen and (max-width: 999px) {
  h1 {
    font-size: 32px; /* Padrão mobile */
    margin-top: calc(var(--margem) * 3);
    line-height: 1.25;
  }

  #titlelink {
    color: var(--cor-secundaria);
  }

  .item {
    font-size: 14px;
    color: var(--cor-fonte-forte);
    padding: 7px 16px;
  }

  .fonte-menor {
    font-size: 0.875em;
    color: var(--cor-fonte);
  }
}
