





<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Relatório de Igualdade Salarial</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
            
                    <h2>Relatório de Transparência e Igualdade Salarial de Mulheres e Homens - 2º Semestre 2024</h2>
                    <p class="cor-destaque">Fonte: eSocial. Rais 2023 e Portal Emprega Brasil - Agosto de 2024</p>
                  <object data="data/relatorio.pdf" type="application/pdf" width="100%" height="800px">
                    <p>Seu navegador não suporta PDFs. <a href="data/relatorio.pdf">Baixar PDF</a>.</p>
                </object>
                  </div>
    </section>
</main>
