<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Intercâmbio padrão Febraban</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                O INTERCÂMBIO MAGNÉTICO da PD CASE engloba a troca de arquivos junto as empresas conveniadas, de forma que cada transação de entrada de documentos seja autenticada e transferida nos lotes de arquivos, evitando a intervençào manual no fluxo de processamento.
                <br><br>
                A base original de alimentaçào pode ser originada das transaçoes mantidas pelos CANAIS DE ACESSO disponibilizadas aos clientes.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Custos </h3>
            <p class="texto">
                Os custos associados na manipulação de documentos em procedimentos de retaguarda oneram a administração dos recebíveis na prestação de serviços de ARRECADAÇÃO.
            </p>
        </div>
        <div class="container-texto">
            <h3 class="titulo-texto"> Burocracia facilitada </h3>
            <p class="texto">
                A formatação de arquivos de pagamentos de faturas de serviços, impostos, boletos de cobrança e assemelhados consiste na comprovação eletrônica do processamento de documentos, que deve obedecer ao padrão estabelecido pela empresa concessionária.
            </p>
        </div>
    </div>
</main>
