<main>
    <section class="manchete">
        <div class="container">
            <h1>Poupança</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>Mais tradicional produto de investimento difundido em todas classes, a Poupança possui regras mais estreitas em relação a rentabilização das aplicações, por ser produto padrão que remunera por taxa fixa, mais TR – Taxa Referencial.</p>
        </div>
        <div class="container grid grid-2">
<div><h3>Gerenciamento de Contas</h3>
<p>O gerenciamento de contas de Poupança permite a alocação de varias subcontas considerando a data de aniversário, quando são incorporados os rendimentos com base no menor saldo existente de cada data. 	 Existe a condicionante ainda de remuneração por 70% da Taxa Selic quando a mesma for igual ou inferior a 8,5% a.a.</p>
</div>
<div><h3>A oferta do produto</h3>
<p>A oferta de produto de investimento não permite criar um diferencial no portifólio de produtos de investimento, mas cobre a lacuna de investidores de menor valor de aplicação, e pelo fácil entendimento sobre as regras de remuneração.</p>
</div>
        </div>
    </section>
</main>