<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Outsourcing</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                O serviço de Outsourcing é o processo em que uma organização contrata outra para desempenhar determinada função.
                <br><br>
                É ideal se o foco da sua empresa não é a Tecnologia da Informação, mas ao mesmo tempo ela é essencial para a execução da sua atividade principal.    
            </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Nossa experiência </h3>
            <p class="texto">
                A PD Case oferece soluções inovadoras e eficientes, com profissionais especializados em diversas áreas e expertises, bem como uma rica base de conhecimento que atende de maneira personalizada cada um de seus clientes.
            </p>
        </div>
    </div>
</main>
