<main>
    <section class="manchete container-manchete">
        <div class="container">
            <h1>Gestão de fundos</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
            <h3>Obrigações de repasses</h3>
            <p>Os fundos de investimentos são produtos regulamentados pela CVM, na qual são colocadas regras padrões de rentabilização, taxa de administração, prazo de retenção e tributação. Essas regras visam simplicar na forma de entendimento da oferta de produtos, sempre enfatizando o perfil de risco do cliente.</p>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna">
                    <h3>Cotas de investimento</h3>
                    <p>Através da valorização de cotas de investimentos, as posições de saldos de cada investimento é permitida pode ser integrada aos canais de cliente, aplicando regras de tributação definidas para cada produto. Todas as aplicações e resgates são transionados via conta corrente de movimento associada ao cliente.</p>
                </div>
                <div class="coluna">
                    <h3>Mantendo o controle</h3>
                    <p>Na parte de controle de ativos de cada fundo são previstos controle de valorização a preço de mercado dos ativos contratados, que pemite calcular os valores das cotas de investimentos, bem como a taxa de administração.</p>
                </div>
            </div>
        </div>
    </section>
</main>