<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Informes legais</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                Implantamos soluções e prestamos serviços legais que visam a adequação às normas e leis, redução de custos e que torne o dia a dia do negócio mais fácil, tanto no âmbito operacional quanto no gerencial.
                <br><br>
                Prover algo “Legal” é o grande objetivo. Em todos os sentidos da palavra, buscamos seguir uma metodologia rigorosa para fornecer informativos e sistemas legais de forma totalmente aderente aos nossos clientes, ou seja, regulado, sem problemas, bom, eficiente e positivo.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-grid">
            <a [routerLink]="['/central-risco-bacen']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Central de risco BACEN</a>
            <a [routerLink]="['/pdjud']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Requisições judiciais</a>
            <a [routerLink]="['/cadoc3040']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">CADOC 3040</a>
            <a [routerLink]="['/cadoc-3050']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">CADOC 3050</a>
            <a [routerLink]="['/pdPositivo']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Cadastro positivo</a>
            <a [routerLink]="['/e-financeira']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">E-financeira</a>
            <a [routerLink]="['/cadastro-de-cliente']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Cadastro de clientes do SFN</a>
            <a [routerLink]="['/prevencao-lavagem']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Prevenção de lavagem de dinheiro</a>
            <a [routerLink]="['/cta']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Centralizador de transferência de arquivos (CTA)</a>
        </div>
    </div>
</main>
