<main>
	<section class="manchete">
		<div class="container">
			<h1>Controle de ativo imobilizado</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<h3>PD GAR</h3>
			<p>Todos os bens e direitos, tais como marcas, software,
				classificados nesse sentido com intangíveis, devem ser
				escriturados com ativo da empresa. O controle de Ativo imobilizado
				permite tratar a permanência desses direitos enquanto for de uso
				próprio, e faça parte da atividade da empresa.</p>
			</div>
	<div class="container">
		<h3>Processo</h3>
		<p>Desde a entrada na aquisição, com tratamento de depreciação
			ao longo da previsão de duração, até a etapa que o bem possa ser
			descartado, no momento que deixe de faze parte dos ativos da
			empresa são permitidos lançamentos na gestão de ativos, de modo
			que possam ser integrados e conciliados com sistema de
			CONTABILIDADE.</p>
		</div>
	<div class="container">
		<h3>Atendendo regras do BACEN</h3>
			<p>Os controles previstos visam atender a regras definidas pelo
				BACEN, podendo ser customizadas integrações de saídas nos casos de
				análise necessárias próprias dos ativos.</p>
			</div>
</section>
</main>