* {
    margin: 0;
}

.manchete {
    background: url(/assets/logo-bg2.svg) 20% center / auto 110%, url(/assets/logo-bg2.svg) 0 center / auto 160% fixed, radial-gradient(ellipse at left top, var(--cor-primaria), #000);
}

section {
    display: block;
    unicode-bidi: isolate;
}

body, input, textarea, select {
    font: 16px / 1.625 "Raleway", sans-serif;
    background: var(--cor-bg);
    color: var(--cor-fonte);
}

@media screen and (max-width: 999px) {
    :root {
        --margem: 16px;
        --tam-titulo: 9px;
    }
}

div {
    display: block;
    unicode-bidi: isolate;
}

h1:not(.maior) {
    margin-top: calc(var(--margem)* 5);
}

h1 {
    font-size: calc(var(--margem)* 2);
    line-height: 1.25;
    font-weight: 400;
}

h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h1, h2 {
    font-family: "Vollkorn", serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

@media screen and (min-width: 1000px) {
    h1:not(.maior)::before, h1:not(.maior)::after {
        content: "";
        border: solid rgba(255, 255, 255, .15);
        border-width: 0 1px;
        width: 24px;
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 15%;
    }
}

.container {
    box-sizing: border-box;
    margin: auto;
    max-width: 1008px;
    padding: calc(var(--margem)* 2.5) var(--margem);
}

.container, nav a, .rel, .txt-destaque, .decor {
    position: relative;
}

.container+.container {
    padding-top: 0;
}

p:not(:last-child), ul:not(:last-child), ol:not(:last-child) {
    margin: 0 0 var(--margem);
}

.cor-destaque, .link:hover {
    color: var(--cor-secundaria);
}

@media screen and (min-width: 1000px) {
    .linha {
        display:flex;
        gap: calc(var(--margem)*2)
    }
 
    fieldset .linha {
        margin: 0 -6px
    }
 
    .col-2 {
        grid-column: span 2
    }
 
    .col-3 {
        grid-column: span 3
    }
 
    .lin-2 {
        grid-row: span 2
    }
 
   
    .icone-menu,.mobile {
        display: none
    }
 
    .pb .logo {
        background-position: 0 -80px
    }
 
    .coluna {
        flex: 1 1
    }
 
    fieldset .coluna {
        margin: 0 6px
    }
 
    .coluna.col-2 {
        flex-grow: 2
    }
 
    aside.coluna {
        flex: 0 0 168px
    }
 
    .coluna:not(:last-child) {
        margin-bottom: 0
    }
 
    .aleta::before {
        content: "";
        background: url("#");
        width: 24px;
        height: 24px;
        float: right;
        margin: 0 -2px 0 2px
    }
 
    nav .rel {
        float: left
    }
 
    .aleta:hover+.categorias,.categorias:hover {
        display: block
    }
 
 
    h1:not(.maior)::before,h1:not(.maior)::after {
        content: "";
        border: solid var(--cor-secundaria);
        border: solid rgba(255,255,255,.15);
        border-width: 0 1px;
        width: 24px;
        position: absolute;
        left: -1px;
        top: 0;
        bottom: 15%
    }
 
    h1:not(.maior)::after {
        left: 24px;
        top: 50%;
        bottom: 0
    }
}