


<main>
    <section class="manchete">
        <div class="container">
            <h1>Política de privacidade</h1>
        </div>
    </section>
    <section>
        <div class="container">
            
                    <h2>Política de Privacidade do Site e dos Serviços da PD Case.</h2>
                    <p class="cor-destaque">Esta política entrou em vigor em 16 de agosto de 2021</p>
                    <p>
                      Recomendamos fortemente que você realize a leitura desta
                      Política e só continue a navegar por nosso site e/ou utilizar
                      nossos serviços se estiver de acordo com ela.
                    </p>
                    <p>
                      A PD Case reconhece a importância da proteção de dados pessoais
                      de todas as pessoas que acessem seu site, seja para busca,
                      candidatura ou monitoramento de vagas abertas ou apenas para
                      entrar em contato. Por isso, a coleta, o armazenamento e o
                      processamento de informações são realizados apenas no contexto
                      da seleção e recrutamento de candidatos para as vagas
                      disponíveis no site.
                    </p>
      
                    <p>
                      Esta Política de Privacidade, descreve o compromisso da PD Case
                      em tratar dados pessoais dos candidatos em conformidade com as
                      leis aplicáveis, em especial a Lei nº 13.709/2018 (Lei Geral de
                      Proteção de Dados Pessoais ou LGPD).
                    </p>
      
                    <p>
                      Se após ler nossa política de privacidade você não entender ou
                      não concordar com algum ponto, pedimos que entre em contato
                      conosco antes de continuar com o cadastro em nosso site. As
                      informações para contato encontram-se logo abaixo, no corpo
                      deste documento.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Definições legais</h3>
      
                    <p>
                      As definições que utilizamos nessa Política de Privacidade são
                      as mesmas adotadas pela LGPD:
                    </p>
      
                    <p>Agentes de tratamento: o controlador e o operador.</p>
      
                    <p>
                      Controlador: pessoa natural ou jurídica, de direito público ou
                      privado, a quem competem as decisões referentes ao tratamento de
                      dados pessoais.
                    </p>
      
                    <p>
                      Operador: pessoa natural ou jurídica, de direito público ou
                      privado, que realiza o tratamento de dados pessoais em nome do
                      controlador;
                    </p>
      
                    <p>
                      Tratamento: toda e qualquer operação realizada com dados
                      pessoais, tais como (mas sem se limitar), às que se referem a
                      coleta, produção, recepção, classificação, utilização, acesso,
                      reprodução, transmissão, distribuição, processamento,
                      arquivamento, armazenamento, eliminação, avaliação ou controle
                      da informação, modificação, comunicação, transferência, difusão
                      ou extração.
                    </p>
      
                    <p>
                      Dado Pessoal: toda e qualquer informação relacionada a pessoa
                      natural identificada ou identificável.
                    </p>
      
                    <p>
                      Dado Pessoal Sensível: dado pessoal sobre origem racial ou
                      étnica, convicção religiosa, opinião política, filiação a
                      sindicato ou a organização de caráter religioso, filosófico ou
                      político, dado referente à saúde ou à vida sexual, dado genético
                      ou biométrico, quando vinculado a uma pessoa natural.
                    </p>
      
                    <p>
                      Titular: pessoa natural a quem se referem os dados pessoais que
                      são objeto de tratamento.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Agente de tratamento dos dados pessoais</h3>
      
                    <p>
                      PD|CASE Informática Ltda., sociedade limitada, com sede na
                      Alameda Oscar Niemeyer, nº 891 - Sala 708 - Vila da Serra - Belo
                      Horizonte / Nova Lima - MG - CEP 34006-065. Telefone: (31)
                      3505-1940
                    </p>
                  </div>
                  <div class="container">
                    <h3>Encarregado de proteção de dados (DPO)</h3>
                    <p>
                      A PD Case tem uma equipe de profissionais dedicada à proteção de
                      dados e à sua privacidade. Caso você tenha alguma questão
                      específica que não tenha sido esclarecida por nossa Política de
                      Privacidade, você poderá entrar em contato com nosso Encarregado
                      de Dados através do contato abaixo: Encarregado: Ademir Castro
                      E-mail: dpo#pdcase.com.br
                    </p>
                  </div>
                  <div class="container">
                    <h3>Tipos de dados coletados</h3>
      
                    <p>
                      Entre os Dados Pessoais que este site coleta estão os seguintes:
                      nome completo; e- mail, perfil no “LinkedIn” e currículo
                      disponibilizado pelo interessado, todos fornecidos livremente
                      pelo titular ao preencher nossa seção “Envie seu Currículo”.
                      Informamos que não existe a necessidade de envio de foto em seu
                      currículo.
                    </p>
      
                    <p>
                      A PD Case, no contexto de recrutamento e seleção, reconhece que
                      pode tratar dados pessoais após o envio de informações e de
                      documentos por candidatos, inclusive dados pessoais sensíveis,
                      como informações sobre necessidades especiais para o processo
                      seletivo de Pessoas com Deficiência (PcD), informações para
                      participação em processos seletivos de vagas inclusivas, dentre
                      outras.
                    </p>
      
                    <p>
                      Respeitando o tratamento mínimo e necessário dos dados pessoais,
                      a PD Case informa que a inserção dessas informações em seu
                      currículo não é obrigatória e será sempre facultativa ao
                      candidato no momento da escolha da vaga pretendida.
                    </p>
      
                    <p>
                      Não utilizamos seus dados para qualquer outro fim, que não para
                      recrutamento e seleção de pessoas para compor nosso quadro de
                      trabalho.
                    </p>
      
                    <p>
                      Quaisquer usos de cookies por este Site ou pelos proprietários
                      de serviços terceiros utilizados por este Site serão para a
                      finalidade de fornecer os Serviços solicitados pelo Titular, de
                      acordo com as finalidades descritas no presente documento.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Finalidades e base legal do tratamento</h3>
      
                    <p>
                      Os Dados Pessoais compartilhados pelo Titular (você!) ao
                      preencher a seção de “Envie seu Currículo” compõe uma fase
                      pré-contratual. Afinal, os processos seletivos são concluídos
                      com a celebração de contratos de trabalho com as pessoas
                      aprovadas.
                    </p>
      
                    <p>
                      A PD Case poderá tratar Dados Pessoais sempre que necessário
                      para a execução de um contrato com o Titular e/ou quaisquer
                      fases pré-contratuais, nos moldes do art. 7º, inciso V da Lei
                      Geral de Proteção de Dados:
                    </p>
      
                    <p class="margem caixa">
                      “Art. 7º O tratamento de dados pessoais somente poderá ser
                      realizado nas seguintes hipóteses: (...) V - quando necessário
                      para a execução de contrato ou de procedimentos preliminares
                      relacionados a contrato do qual seja parte o titular, a pedido
                      do titular dos dados; (...)”
                    </p>
                  </div>
                  <div class="container">
                    <h3>Meios de tratamento</h3>
                    <p>
                      As atividades de tratamento são realizadas por meio de
                      computadores e ferramentas de TI habilitadas, seguindo
                      procedimentos organizacionais e meios estritamente relacionados
                      aos fins indicados. Os Dados só podem ser acessados por pessoas
                      específicas e envolvidas com o processo de “Seleção de
                      Candidatos”. A PD Case dispõe de ferramentas e tecnologias
                      adequadas para proteger os dados pessoais de acesso, uso ou
                      divulgação não autorizada, sempre buscando os procedimentos de
                      segurança mais adequados.
                    </p>
      
                    <p>
                      A PD Case não pode afirmar que é impossível o acesso
                      não-autorizado aos dados pessoais sob seu tratamento.
                      Entretanto, compromete-se a adotar todos os melhores esforços e
                      boas práticas para a segurança desses dados.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Período de conservação</h3>
      
                    <p>
                      Os Dados Pessoais coletados em fase pré-contratual para as
                      finalidades relacionadas com a seleção de Candidatos serão
                      conservados até que a seleção seja concluída. Os dados pessoais,
                      tratados pela Organização, serão eliminados quando não forem
                      mais necessários aos fins para os quais foram coletados. Após
                      esse período, todos os dados serão devidamente excluídos de
                      nossa base de dados.
                    </p>
      
                    <p>
                      Ainda assim, o Titular pode, a qualquer tempo, solicitar
                      informações sobre a situação de seus dados pessoais, alteração
                      ou exclusão, caso assim deseje. Seus dados pessoais coletados
                      pela PD Case são armazenados e processados no Brasil, não
                      enviamos ou armazenamos nenhum dado fora do território nacional.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Direitos dos Titulares</h3>
      
                    <p>
                      Os Titulares poderão exercer direitos acerca de seus Dados
                      Pessoais, em conformidade com o que disciplina a LGPD. Em
                      especial, os Titulares possuem direito a:
                    </p>
      
                    <ul>
                      <li>
                        obter confirmação sobre a existência de atividades de
                        processamento de suas informações pessoais;
                      </li>
      
                      <li>
                        acesso a suas informações pessoais;
                      </li>
      
                      <li>
                        fazer com que suas informações pessoais incompletas, inexatas
                        ou desatualizadas sejam corrigidas;
                      </li>
      
                      <li>
                        obter o anonimato, bloqueio ou eliminação de suas informações
                        pessoais desnecessárias ou em excesso, ou de informações que
                        não estejam sendo processadas de acordo com a LGPD;
                      </li>
      
                      <li>
                        obter informações sobre a possibilidade de fornecer ou recusar
                        sua anuência e as respectivas consequências;
                      </li>
      
                      <li>
                        obter informações sobre os terceiros com quem compartilhamos
                        suas informações pessoais;
                      </li>
      
                      <li>
                        obter, mediante sua solicitação expressa, a portabilidade de
                        suas informações pessoais (exceto informações anônimas) para
                        outro fornecedor de produtos ou serviços, desde que nossos
                        segredos comerciais e industriais continuem protegidos;
                      </li>
      
                      <li>
                        obter a exclusão de suas informações pessoais processadas, se
                        o processamento teve base em sua anuência, a menos que se
                        apliquem uma ou mais exceções daquelas dispostas no art. 16 da
                        LGPD;
                      </li>
      
                      <li>
                        retirar sua anuência a qualquer momento;
                      </li>
      
                      <li>
                        registrar uma reclamação com relação a suas informações
                        pessoais à ANPD (Autoridade Nacional de Proteção de Dados) ou
                        aos órgãos de proteção ao consumidor;
                      </li>
      
                      <li>
                        opor-se a uma atividade de processamento nos casos em que o
                        processamento não for realizado em conformidade com as
                        disposições da lei;
                      </li>
      
                      <li>
                        solicitar informações claras e adequadas a respeito dos
                        critérios e procedimentos usados para uma decisão
                        automatizada; e
                      </li>
      
                      <li>
                        solicitar a revisão de decisões tomadas exclusivamente com
                        base no processamento automatizado de suas informações
                        pessoais, que afetem seus interesses. Nisto estão incluídas
                        decisões para definir seu perfil pessoal, profissional, de
                        consumidor e de crédito ou aspectos de sua personalidade.
                      </li>
                    </ul>
                  </div>
                  <div class="container">
                    <h3>Como exercer os direitos? </h3>
      
                    <p>
                      Quaisquer pedidos para exercer os direitos dos Titulares podem
                      ser direcionados à PD Case através dos dados para contato
                      fornecidos neste documento. Os pedidos podem ser formulados sem
                      qualquer custo e serão endereçados pela PD Case com a maior
                      brevidade possível.
                    </p>
                  </div>
                  <div class="container">
                    <h3>Versões desta política </h3>
                    <p>
                      A PD Case se reserva ao direito de fazer alterações nesta
                      política de privacidade a qualquer momento, caso em que enviará
                      as informações pertinentes, sempre que necessário, aos Titulares
                      cujos dados estejam sendo tratados.
                    </p>
        </div>
    </section>
</main>