<main>
	<section class="manchete">
		<div class="container">
			<h1>CADOC 3040</h1>
		</div>
	</section>
    <section>
        <div class="container">
            <h3>Sistema de Informações de Crédito do Banco Central - SRC</h3>
				<p>O SCR é um instrumento de registro e consulta de informações sobre as operações de crédito, avais e fianças prestados e limites de crédito concedidos por instituições financeiras a pessoas físicas e jurídicas no país. Foi criado pelo Conselho Monetário Nacional e é administrado pelo Banco Central do Brasil, a quem cumpre armazenar as informações encaminhadas e também disciplinar o processo de correção e atualização da base de dados pelas instituições financeiras participantes.</p>
				<p>O SCR é o principal instrumento utilizado pela supervisão bancária para acompanhar as carteiras de crédito das instituições financeiras. Nesse sentido, desempenha papel importante na garantia da estabilidade do Sistema Financeiro Nacional e na prevenção de crises.</p>
			</div>
        <div class="container">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Atualização Mensal</h3>
						<p>O SCR é alimentado mensalmente pelas instituições financeiras, mediante coleta de informações sobre as operações concedidas. Inicialmente determinou-se que as instituições enviassem informações sobre o total das operações dos clientes com responsabilidade total igual ou superior a R$ 50.000,00 (cinquenta mil reais). Paulatinamente, esse valor foi sendo diminuído, inicialmente para o patamar de R$ 20.000,00 (vinte mil reais), depois para R$ 5.000,00 (cinco mil reais), em seguida para R$ 1.000,00 (mil reais) e atualmente são armazenadas no banco de dados do SCR as operações dos clientes com responsabilidade total igual ou superior a R$ 200,00 (duzentos reais), a vencer e vencidas, e os valores referentes às fianças e aos avais prestados pelas instituições financeiras a seus clientes, além de créditos a liberar contabilizados nos balancetes mensais.</p> 
					</div>
                <div class="coluna">
                    <h3>Responsabilidade das Instituições Financeiras</h3>
						<p>As instituições financeiras são responsáveis pelo encaminhamento sistemático de dados sobre as operações de crédito. Cumpre a elas também corrigir ou excluir as informações imprecisas. Eventuais questionamentos judiciais devem ser encaminhados diretamente à instituição financeira que informou os dados sobre a operação.</p>
					</div>
            </div>
        </div>
        <div class="container">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Base Legal</h3>
						<p>A base legal para o sistema coletar e compartilhar informações entre as instituições participantes do Sistema Financeiro Nacional e o respeito à privacidade do cliente quanto ao sigilo e à divulgação de informações obedecem às condições previstas na Lei Complementar 105/01 e na Resolução 3.658 de 17/12/2008.</p>
					</div>
                <div class="coluna">
                    <h3>Compromisso com a Qualidade</h3>
						<p>A qualidade das informações coletadas é essencial para garantir que se atinja os objetivos que nortearam a implantação do SCR. Para assegurar a confiabilidade do sistema, os arquivos recebidos são submetidos a um rigoroso processo de verificação, mediante a realização de diversos testes de consistência.</p>
						
						 <p class="fonte-fraca">Fonte: Banco Central</p>
						</div>
            </div>
        </div>
    </section>
</main>