<main>
	<section class="manchete">
		<div class="container">
			<h1>Fundo garantidor</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<h3>Diluindo risco de eventuais perdas</h3>
			<p>
				A possibilidade de alocação de garantias de operações de crédito
				através de fundo garantidor instituído pelas fontes financiadoras,
				tais como, BNDES e Banco do Brasil, é uma alternativa de mercado
				para diluir o risco de eventuais perdas. Nesse módulo são
				atendidos os modelo do FAMPE – Fundo de Aval de Micro e Pequenas
				Empresas (SEBRAE), FGI – Fundo Garantidor de Investimentos(BNDES)
				e FGO – Fundo Garantidor de Operações(Banco do Brasil).
			  </p>
			</div>
			<div class="container">
				<div class="linha">
					<div class="coluna"> 
						<h3>Troca de informações</h3>
	<p>
	  Todos esses fundos possuem especificações de troca de informações
	  que são associadas ao processo de concessão, que criam travas para
	  liberação de operações, quando existe a opção por garantia via
	  fundo.
	</p>
					</div>
					<div class="coluna">
						<h3>Custos</h3>
	<p>
	  Os custos de contratação de aval via fundo é atrelado ao processo
	  de simulação das operações, de modo que o tomador de crédito possa
	  saber o impacto do valor a ser incluso no financiamento. Sobre o
	  valor financiado existe a segregação do crédito a ser direcionado
	  para fundo como custo sobre garantia parcial ou total da operação.
	</p>

					</div>
				</div>
			</div>
	
</section>
</main>