<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Consultoria</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                O conhecimento das práticas de negócio é fundamental para o sucesso na implantação de projetos de sistemas. A expertise das equipes com a realidade dos negócios das empresas permite acelerar o nivelamento dos requisitos, resultando numa interação mais produtiva dentro das expectativas dos usuários.
                <br><br>
                A PD Case foca-se no CONHECIMENTO APLICADO À TECNOLOGIA, devido ao direcionamento evidenciado nos serviços prestados junto aos bancos, aprimorados nas práticas de negócios do mercado financeiro resultando na criação de um portifólio de soluções segmentado pela visão de trabalho junto ao mercado.
                <br><br>
                As soluções oferecidas pela PD Case congregam bases de conhecimento que podem ser adaptadas às necessidades específicas de cada cliente, encurtando etapas nos processos de levantamento, elaboração e concepção de sistemas corporativos. Dentro do segmento de consultoria em negócios da PD Case pode-se destacar as seguintes especializações:
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Consultoria em projetos </h3>
            <p class="texto">
                A PD CASE oferece projetos de sistemas corporativos resultantes de práticas sedimentadas no mercado, nas quais o cliente pode ajustar suas necessidades na visão de ofertas de seus produtos e serviços.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-colunas">
            <div class="coluna"> 
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Tecnologia
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        A implantação de sistemas no mercado financeiro requer capacitação em soluções de missão crítica, que necessitam de alta disponibilidade e escala. Por meio da experiência em serviços prestados nas mais diversas plataformas envolvendo alto nível de processamento e manipulação de dados, nossa equipe é capaz de dimensionar e avaliar estratégias de construção e implantação, que necessitam de processamentos rápidos em janelas de tempo extremamente curtas.
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        BI - Business Inteligence
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        O sucesso na construção de soluções de BI depende do mapeamento dos dados dos sistemas legados. Por meio do entendimento processual e da arquitetura de dados do CORE BUSINESS, pode-se fornecer interfaces ajustadas às necessidades gerenciais da alta direção. Nesse nicho específico, a PD CASE possui certificação para trabalhar com produtos ORACLE, através da construção dos serviços de integração e aplicação dos softwares ORACLE.
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Business Process e Compliance
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        A mitigação do risco operacional no mercado financeiro fundamenta-se no auto-conhecimento dos processos de negócios, nos quais deve-se aplicar restrições para verificação de conformidade no trâmite de cada processo. Por meio da implementação de ferramentas de BP, pode-se fazer a modelagem e estruturação dos processos internos ou relacionados ao tratamento com clientes, dando subsídios para avaliação e revisão de conformidade com a regulamentação interna ou legal.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
