/* Estilo Global */
* {
  margin: 0;
}

main {
  background: var(--cor-separador);
  display: block;
  unicode-bidi: isolate;
}

body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

.manchete {
  background: url(/assets/logo-bg2.svg) 20% center / auto 110%,
    url(/assets/logo-bg2.svg) 0 center / auto 160% fixed,
    radial-gradient(ellipse at left top, var(--cor-primaria), #000);
}

/* Títulos */
h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: calc(var(--margem) * 2);
  line-height: 1.25;
  font-weight: bold;
  font-family: "Vollkorn", serif;
}

h1:not(.maior) {
  margin-top: calc(var(--margem) * 5);
}

h1,
h2 {
  font-family: "Vollkorn", serif;
}

h2 {
  font-size: 30px;
  color: var(--cor-fonte);
}

h3 {
  display: block;
  font-weight: bold;
  font-size: calc(var(--margem) / 2 + 12px);
  margin: 0.2em 0;
  color: var(--cor-fonte);
}

h4 {
  margin: -1px 0px;
  font: 16px "Raleway", sans-serif;
  color: #161d26;
  font-weight: 600; /* Semi-bold */
}

/* Parágrafos */
p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-block-start: 0.2em;
  margin-block-end: 1em;
  line-height: 1.6;
}

/* Containers */
.container {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  max-width: 1008px;
  padding: calc(var(--margem) * 2.5) var(--margem);
}

.container + .container {
  padding-top: 0;
}

.container-div {
  max-width: 1008px;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
}

.container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.container-titulo {
  padding: calc(var(--margem) * 2.5) 0;
  margin-bottom: 60px;
  box-sizing: border-box;
  position: relative;
}

.container-titulo-coluna,
.container-texto-coluna {
  padding: 24px;
}

.container-titulo-coluna {
  background-color: var(--cor-terciaria);
}

.container-titulo-coluna p,
.container-texto-coluna p {
  color: var(--cor-bg);
}

.container-titulo-coluna p {
  font-weight: bold;
}

.container-texto {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Grid e Colunas */
.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.coluna {
  flex: 1 1 0;
  background-color: var(--cor-secundaria);
}

.coluna p {
  margin-bottom: 1em;
}

.link-container {
  text-decoration: none;
  background-color: var(--cor-secundaria);
  color: var(--cor-bg);
  padding: 24px;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
}

.link-container:hover {
  background-color: var(--cor-terciaria);
}

/* Listas */
li {
  display: list-item;
  margin-bottom: 0.5em;
}

ol,
ul {
  padding-left: 1.5rem;
  margin-top: 1em;
}

ol li ol {
  margin-top: 0.5em;
}

/* Responsividade */
@media screen and (min-width: 1000px) {
  .coluna {
    flex: 1 1;
  }

  .coluna:not(:last-child) {
    margin-bottom: 0;
  }

  h1:not(.maior)::before,
  h1:not(.maior)::after {
    content: "";
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0 1px;
    width: 24px;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 15%;
  }

  h1:not(.maior)::after {
    left: 24px;
    top: 50%;
    bottom: 0;
  }
}

@media screen and (max-width: 999px) {
  h1 {
    font-size: 32px;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    color: var(--cor-fonte);
    margin: 40px 0px -24px;
    line-height: 1.25;
    font-weight: bold;
  }

  .titulo-pagina {
    margin-top: var(--margem);
    font-size: 32px;
  }

  .container-titulo {
    padding: 50px 16px 10px 16px;
  }

  .container-texto {
    padding: 0 16px;
  }

  .container-div {
    width: 100%;
  }

  .container-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .link-container {
    width: 100%;
    padding: 16px;
  }

  .container-colunas {
    flex-direction: column;
    padding: 0 16px;
  }

  .container-titulo-coluna,
  .container-texto-coluna {
    padding: 16px;
  }
}
