<main>
  <section class="manchete">
    <div class="container">
      <h1>Controladoria</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h3>Controle e publicação de informações legais</h3>
      <p>
        Você se lembra de um famoso jargão publicitário que dizia que “potência
        não é nada sem controle”? Era de uma marca de pneus, que se utilizava do
        oportuno raciocínio segundo o qual um motor veloz depende da qualidade
        do pneu para funcionar com mais segurança. “Mas o que isso tem a ver com
        a minha gestão?”, você deve estar se perguntando. Bem, na verdade, tem
        tudo a ver. Porque neste artigo vamos falar sobre um assunto que pode
        muito bem exercer o papel de “pneu” para o motor do seu empreendimento,
        fazendo com que ele se desenvolva com mais qualidade e eficiência: a
        controladoria.
      </p>
      <p>
        Decisões acertadas, processos transparentes, excessos eliminados: estes
        são apenas alguns dos benefícios que uma controladoria pode trazer à sua
        empresa.
      </p>
      <p>
        A otimização dos controles internos de uma instituição abrange relações
        de informações de mercado, contábeis e financeiros. A manutenção de
        dados nativos de cada sistema de negócios, ainda que use condição de
        redundância de dados, permite fazer a conciliação das posições contábeis
        e financeiras, com alternativa de verificação analítica dos dados
        integrados, indicando a origem, identificação de pessoas, produtos e
        contratos de negócios.
      </p>
      <p>
        O escopo da Controladoria abrange a relação com Banco Central
        (regulamentação), mercado (acionista) e gerenciamento de caixa. Através
        de estruturação de planos de contas associados ao padrão COSIF do Banco
        Central são permitidas visões gerenciais, que podem ser exportadas em
        formatos de fácil integração.
      </p>
    </div>
    <div class="container">
      <h3>Módulos</h3>
      <div class="container-grid">
        <a class="link-container" [routerLink]="['/gestao-contabil']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Gestão contábil</a
        >
        <a class="link-container" [routerLink]="['/gestao-tributaria']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Gestão tributária</a
        >
        <a class="link-container" [routerLink]="['/sped']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">SPED</a>
        <a class="link-container" [routerLink]="['/tesouraria']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Tesouraria</a>
        <a class="link-container" [routerLink]="['/controle-ativo']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          >Controle de ativo imobilizado</a
        >
      </div>
    </div>
  </section>
</main>
