


<main>
	<section class="manchete">
		<div class="container container-manchete">
			<h1>MPS.BR</h1>
		</div>
	</section>
	<section  class="main">
		<div class="container container-texto">
			<p>Nos últimos anos o volume de novas tecnologias que surgem no mercado vêm crescendo substancialmente assim como a dependência das organizações em relação aos serviços prestados em projetos de desenvolvimento de novos sistemas, novas funcionalidades ou sustentação de ambientes de produção.</p>
				  </div>
		<div class="container container-texto">
			<h3>Histórico de Certificações</h3>
				<p>Ao longo destes anos buscamos continuamente alcançar a competitividade pela excelência dos serviços prestados, respeito a prazos e garantia de qualidade geral dos produtos entregues se tornou um forte diferencial competitivo nos dias atuais.</p>
				   
		</div>
		<div class="container container-texto">
			<h3>Atualmente</h3>
			<p>Atualmente a PDCase é uma empresa certificada no modelo
				MPS.br nível C em Software, tendo processo de desenvolvimento de software
				classificado como "Definido" sendo equivalente ao CMMI nível 3. </p>
				<p>Além de estar certificada no modelo MPS-br Nível G em seu processo de Atendimento a Serviços, sendo assim, classificado equivalente ao CMMI nível 2. </p>
		</div>
		<div class="container grid grid-2 container-texto">
				<div>
			<h3>MPS-BR Software (SW)</h3>
			<p>Focando na melhoria contínua dos processos internos de
				desenvolvimento de software e visando impulsionar a prestação de
				serviços no mercado nacional, a PD Case se tornou uma empresa com
				selo de certificação MPS-BR Nivel C que atesta a maturidade e
				capacidade técnica para produzir e entregar softwares com
				qualidade diferenciada.</p>
				<p><a class="ne cor-destaque" target="_blank" href="https://softex.br/network/pdcase_sw805/">
					Declaração de certificação MPS-br nível C </a></p>
</div>
					
		<div>
			<h3>MPS-BR Serviços (SV)</h3>
			<p>Realizando um trabalho de estudo e entendimento sobre o processo
				para alcançar a certificação, a equipe de Sustentação se encontra
				alinhada as exigencias do MPSBR_SV  Nível G.</p>
				<p>Contamos com uma plataforma corporativa de Gestão de Processos
				criada para atender os requisitos da certificação de Processo de
				Desenvolvimento de Software – MPSBR_SW, que atualmente somos Nível C,
				essa estratégia foi muito positiva para obtenção do certificação MPSBR_SV Nível G.</p>
				<p>Atendendo os seguintes processos:</p>
	<ul>    
		<li>GIS – Gerência de Incidentes</li>
			<li>GNS – Gerência de Nível de Serviços</li>
			<li>GOS – Gerência Operação de serviços</li>
		</ul>
		
		<p><a class="ne cor-destaque" target="_blank" href="https://softex.br/network/pd_case_sv78/">
			Declaração de certificação MPS-br nível G </a></p>
		</div>
		</div>
	</section>
</main>