<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Fábrica de Software</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                Com o mercado cada vez mais globalizado e competitivo é essencial a redução de custos dos produtos de mercado. Como nos outros segmentos, em especial na indústria de manufatura, a utilização do conceito de fábrica proporciona o aumento da eficiência obtendo ganhos com produtividade, organização e padronização, que, além de reduzir os custos, elevam substancialmente a qualidade dos softwares produzidos.
                <br><br>
                No caso da Fábrica de Software, a separação entre o trabalho de especificação e de implementação / construção, permite a especialização e segregação de funções com a consequente produção em escala.
                <br><br>
                Ciente disto, a PD Case criou sua Fábrica de Software utilizando padrões e processos bem definidos a fim de garantir produtos de qualidade integrando as diversas fases, desde o levantamento até a entrega do produto final.</p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Criação da Fábrica de Software </h3>
            <p class="texto">
                A PDCASE criou sua Fábrica de Software utilizando padrões e processos bem definidos a fim de garantir produtos de qualidade integrando as diversas fases, desde o levantamento até a entrega do produto final.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Expertise Adquirida e Confirmada </h3>
            <p class="texto">
                A expertise adquirida em desenvolvimento de softwares utilizando processos de fábrica, fez com que a PD Case se tornasse uma das primeiras empresas brasileira a buscar a implementação e avaliação do modelo <a [routerLink]="['/mps']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="linkMPS">MPS BR Nível C</a>, equivalente ao CMMI Nível 3.    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Processos </h3>
            <p class="texto">
                Os processos da Fábrica de Software englobam todas as fases do ciclo de vida de um projeto, especificando os requisitos adequadamente, efetuando rastreabilidade horizontal e vertical, desenvolvendo códigos através das melhores práticas, obedecendo a critérios de medição de qualidade, por meio de uma gestão de configuração eficiente.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Metodologia </h3>
            <p class="texto">
                Para suportar o processo de desenvolvimento e obter maiores ganhos em escala, a Fábrica de Software utiliza metodologias baseadas em ferramentas de apoio amplamente difundidas no mercado como os frameworks JBoss Seam no mundo Open Source e .Net para tecnologia Microsoft. Com padrões e processos bem definidos de acordo com o PDS Processo de Desenvolvimento de software, prática que visa a garantia de produtos de alta qualidade integrando as diversas fases, desde o levantamento até o produto final.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Funcionalidades </h3>
            <p class="texto">
                A incorporação de funcionalidades dos frameworks à ampla biblioteca própria de códigos já desenvolvidos, garantem reutilização na construção de novos componentes de software. São estes principais componentes que fortalecem a Fábrica de Software da PD Case na oferta de respostas às necessidades dos clientes, com produtividade e qualidade.
            </p>
        </div>
    </div>
</main>
