<body>
  <main>
    <section class="manchete">
      <div class="container">
        <h1>Serviços</h1>
      </div>
    </section>
    <section class="descricao">
      <div class="container descricao-container">
        <div class="texto">
          <p>
            As metas e lucratividade da sua empresa são nosso propósito. Estamos
            conectados com nossos clientes e as necessidades de mercado, o que
            nos permite oferecer soluções completas baseadas em nossa vasta
            experiência além de serviços customizados para agregar valor ao
            negócio.
          </p>
          <p>
            Atendemos a todas resoluções dos órgãos reguladores do mercado
            financeiro. Bancos comerciais e de desenvolvimento de todo porte,
            agências de crédito ou fundos de investimento de projetos de
            indeterminadas categorias, sejam eles de inovação, pesquisa, linha
            de crédito específica.
          </p>
        </div>
        <div class="selos-container">
          <a [routerLink]="['/mps']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="selo" id="selo1"></a>
          <a [routerLink]="['/mps']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="selo" id="selo2"></a>
        </div>
      </div>
    </section>
    <section class="servicos">
      <div class="container">
        <div class="grid grid-3">
          <a [routerLink]="['/fabrica-de-software']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-fabrica">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Fábrica de Software</h4>
            </div>
          </a>
          <a [routerLink]="['/consultoria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-consultoria">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Consultoria</h4>
            </div>
          </a>
          <a [routerLink]="['/outsourcing']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-outsourcing">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Outsourcing</h4>
            </div>
          </a>
          <a [routerLink]="['/integracao']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-processos">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Integração</h4>
            </div>
          </a>
          <a [routerLink]="['/sustentacao-de-sistemas']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-produtos">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Sustentação de sistemas</h4>
            </div>
          </a>
          <a [routerLink]="['/porte-cobol']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-mainframe">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Porte Cobol</h4>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="produtos-financeiros">
      <div class="container">
        <h2 id="servicos">Produtos Financeiros</h2>
        <div class="grid grid-3">
          <a [routerLink]="['/core-bancario']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-banco">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Core bancário</h4>
            </div>
          </a>
          <a [routerLink]="['/portal-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-dinheiro">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Portal de crédito</h4>
            </div>
          </a>
          <a [routerLink]="['/agencia-de-fomento']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-fomento">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Agências de fomento</h4>
            </div>
          </a>
          <a [routerLink]="['/mercado-digital']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-mobile">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Mercado digital</h4>
            </div>
          </a>
          <a [routerLink]="['/controladoria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-controladoria">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Controladoria</h4>
            </div>
          </a>
          <a [routerLink]="['/informes-legais']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="tag-informes">
            <div class="icone-section"></div>
            <div class="texto-section">
              <h4 id="btn">Informes legais</h4>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
</body>
