main {
  background: var(--cor-separador);
}
* {
  margin: 0;
}
user agent stylesheet main {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

.manchete {
  background: url(#) 20% center / auto 110%, url(#) 0 center / auto 160% fixed,
    radial-gradient(ellipse at left top, var(--cor-primaria), #000);
}
* {
  margin: 0;
}
user agent stylesheet section {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1008px;
  padding: calc(var(--margem) * 2.5) var(--margem);
}
.container,
nav a,
.rel,
.txt-destaque,
.decor {
  position: relative;
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1008px;
  padding: calc(var(--margem) * 2.5) var(--margem);
}
.container,
nav a,
.rel,
.txt-destaque,
.decor {
  position: relative;
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

h1:not(.maior) {
  margin-top: calc(var(--margem) * 5);
}
h1 {
  font-size: calc(var(--margem) * 2);
  line-height: 1.25;
  font-weight: bold;
}
h1,
h2 {
  font-family: "Vollkorn", serif;
}
* {
  margin: 0;
}
user agent stylesheet :-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
user agent stylesheet h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}

* {
  margin: 0;
}
user agent stylesheet section {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1008px;
  padding: calc(var(--margem) * 2.5) var(--margem);
}
.container,
nav a,
.rel,
.txt-destaque,
.decor {
  position: relative;
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.grid {
  display: grid;
  gap: calc(var(--margem) * 2);
  grid-template-columns: repeat(4, 1fr);
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
img.tam-100 {
  display: block;
  width: 100%;
  height: auto;
}
.tam-100 {
  display: block;
  width: 100%;
}
* {
  margin: 0;
}
user agent stylesheet img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
@media screen and (min-width: 1000px) {
  .col-2 {
    grid-column: span 2;
  }
}
.bg-primaria {
  background: var(--cor-primaria);
}
.ligacao {
  box-shadow: calc(var(--margem) * 2) 0 var(--cor-primaria);
}
.margem,
.success,
.error {
  padding: var(--margem);
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
  margin: 0 0 var(--margem);
}
* {
  margin: 0;
}
user agent stylesheet p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
* {
  margin: 0;
}
user agent stylesheet p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.link {
  color: var(--cor-fonte-forte);
  text-decoration: underline;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.bg-secundaria,
.bg-terciaria {
  background: var(--cor-secundaria);
  color: var(--cor-bg);
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.bg-terciaria {
  background: var(--cor-terciaria);
}
.bg-secundaria,
.bg-terciaria {
  background: var(--cor-secundaria);
  color: var(--cor-bg);
}
.margem,
.success,
.error {
  padding: var(--margem);
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
h4 {
  margin: -1px 0;
}
* {
  margin: 0;
}
user agent stylesheet h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.bg-secundaria,
.bg-terciaria {
  background: var(--cor-secundaria);
  color: var(--cor-bg);
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
.margem,
.success,
.error {
  padding: var(--margem);
}
* {
  margin: 0;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
.bg-secundaria,
.bg-terciaria {
  background: var(--cor-secundaria);
  color: var(--cor-bg);
}
body,
input,
textarea,
select {
  font: 16px / 1.625 "Raleway", sans-serif;
  background: var(--cor-bg);
  color: var(--cor-fonte);
}
@media screen and (min-width: 1000px) {
  .linha {
    display: flex;

    gap: calc(var(--margem) * 2);
  }

  fieldset .linha {
    margin: 0 -6px;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .lin-2 {
    grid-row: span 2;
  }

  .icone-menu,
  .mobile {
    display: none;
  }

  .pb .logo {
    background-position: 0 -80px;
  }

  .coluna {
    flex: 1 1;
  }

  fieldset .coluna {
    margin: 0 6px;
  }

  .coluna.col-2 {
    flex-grow: 2;
  }

  aside.coluna {
    flex: 0 0 168px;
  }

  .coluna:not(:last-child) {
    margin-bottom: 0;
  }

  .aleta::before {
    content: "";

    background: url("#");

    width: 24px;

    height: 24px;

    float: right;

    margin: 0 -2px 0 2px;
  }

  nav .rel {
    float: left;
  }

  .aleta:hover + .categorias,
  .categorias:hover {
    display: block;
  }

  h1:not(.maior)::before,
  h1:not(.maior)::after {
    content: "";

    border: solid var(--cor-secundaria);

    border: solid rgba(255, 255, 255, 0.15);

    border-width: 0 1px;

    width: 24px;

    position: absolute;

    left: -1px;

    top: 0;

    bottom: 15%;
  }

  h1:not(.maior)::after {
    left: 24px;

    top: 50%;

    bottom: 0;
  }
}

.bg-terciaria {
  background-color: #a3c4bc;
}

@media screen and (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr; /* Faz com que cada item ocupe uma linha */
  }

  .grid-3 {
      grid-template-columns: 1fr; /* Mesma lógica para a classe grid-3 */
  }
}
