<main>
  <section id="servicos" class="manchete interna">
    <div class="container">
      <h1>Contato</h1>
    </div>
  </section>
  <div class="container">
    <div class="grid">
      <img src="assets/brasil.svg" class="tam-100" />
      <div class="bg-primaria margem col-2 ligacao">
        <p>
          Para atender as demandas de serviços em todo o território nacional, a
          PD Case estabeleceu sua matriz em Minas Gerais, além de escritórios
          regionais em Belém, Fortaleza, São Luís e Vitória, atuando ainda em
          projetos em outros estados.
        </p>
        <p>
          <a href="mailto:comercial@pdcase.com.br" class="link"
            >comercial{{ "@" }}pdcase.com.br</a
          >
        </p>
      </div>
      <div class="bg-secundaria">
        <div class="bg-terciaria margem">
          <h4>Minas Gerais</h4>
        </div>
        <div class="margem">+55 (31) 3505-1940</div>
      </div>
    </div>
  </div>
</main>
