<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Gestão tributária</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                A GESTÃO DE TRIBUTOS requer a integração de uma série de informações originadas por aplicações de clientes tais como, fundos de investimentos, Crédito, e CONTAS CORRENTES, que estão suportadas normalmente por sistemas distintos. Da mesma forma se aplica aos sistemas de crédito, câmbio, seguros. Leasing etc
                <br><br>
                A GESTÃO DE TRIBUTOS permite centralizar todas as demandas de tributos retidos das empresas integrantes do conglomerado através da integração aos aplicativos operacionais. A sumarização de uma série de tributos pode ser feita automaticamente por uma unidade centralizadora, que agilizam os controles, apuração, recolhecimento e repasse de acordo com o calendário determinado pela RECEITA FEDERAL e municípios.
                <br><br>
                A sumarização de uma série de tributos pode ser feita automaticamente por uma unidade centralizadora, que agilizam os controles, apuração, recolhecimento e repasse de acordo com o calendário determinado pela RECEITA FEDERAL e municípios.    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Apuração contábil </h3>
            <p class="texto">
                O balizamento os dados de apuração na CONTABILIDADE e dos sistemas de origem de retenção permite uma pré-conferência entre os dados retidos/calculados. Ao utilizar duas fontes de dados distintas, é viabilizada a conformidade de valores a repassar.
                <br><br>
                Todos os tributos da empresa ou retenção de cliente, fornecedores e funcionários devem ser configurados no sistema com uma série de parâmetros de controle.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Regras de apuração </h3>
            <p class="texto">
                As regras e esquemas de apuração definem como são calculados os valores baseados em dados da CONTABILIDADE e é permitido criar uma agenda tributária de acordo com calendário especifico de cada tributo.
                <br><br>
                A abrangência de cálculo dos dados pode ser restringida em função da origem das receitas, muito comum nas legislações de tributos municipais.
                <br><br>
                Na centralização de pagamentos de serviços prestados, onde existe a incidência de ISS, porém, com mão-de-obra alocada em diferentes locais, os valores a repassar podem ser distribuídos de acordo com percentual definido para cada órgão.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Apuração de tributos a partir de agenda </h3>
            <p class="texto">
                As atividades de retenção, apuração, recolhimento, repasse e prestação de contas de TRIBUTOS possui complexidade devido às diversas fontes de informações e aos calendários diferenciados definidos pela RECEITA FEDERAL. Os riscos embutidos nas tarefas podem acarretar em penalização por recolhimentos errados ou até por apropriação indébita.    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Apuração de tributos a partir de agenda </h3>
            <p class="texto">
                As atividades de retenção, apuração, recolhimento, repasse e prestação de contas de TRIBUTOS possui complexidade devido às diversas fontes de informações e aos calendários diferenciados definidos pela RECEITA FEDERAL. Os riscos embutidos nas tarefas podem acarretar em penalização por recolhimentos errados ou até por apropriação indébita.    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-colunas">
            <div class="coluna"> 
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Processo
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        Todos os processos de cálculo de tributos a recolher são baseados em regras de apuração. A agenda tributária permite programar automaticamente os períodos de cálculo dos valores, que podem ser feitos por prévia ou de forma definitiva.
                        <br><br>
                        Na forma definitiva os valores são contabilizados automaticamente, podendo ainda ser integrados a aplicativos de TESOURARIA.
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Resultado
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        O resultado do processo de apuração gera controle de valores dentro do trâmite definido por cada órgão, de modo que possa ter a qualquer momento um mapa apuração por cada empresa integrante do conglomerado. Dentro dessa mesma visão podem ser fornecidos extratos de retenção por contribuinte, tendo como fontes de origem os sistemas corporativos de produtos(cliente), folha de pagamentos(Funcionários) e contas a pagar(fornecedores).
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Tributos fiscais
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        No caso de tributos federais a prestação de contas é feita através da geração de arquivo no padrão DCTF. Para os tributos municipais deve ser feita a adequação conforme especificação de cada secretária da Fazenda.
                        <br><br>
                        As contribuições de PIS/COFINS apuradas via processo automático subsidiam a composição das informações do EFD-Contribuições regulamentada no SPED da RFB - Receita Federal do Brasil.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
