<main>
  <section class="manchete">
    <div class="container">
      <h1>Tesouraria</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        Toda a movimentação financeira de entrada ou saída de recursos deve ser
        a priori centralizada num único controle, de modo a ter a posição de
        fluxo de caixa e programação de pagamentos e recebimentos. O princípio
        de controle deve observar a criação de contas distintas para cada tipo
        de controle, onde são associados os centros de custos e históricos
        permitidos de movimentação.
      </p>
    </div>
    <div class="container">
      <h3>Interface padrão</h3>
      <p>
        Nas movimentações de contas podem ser aplicados os dados de interface no
        padrão FEBRABAN ou OFX, que facilitam o trabalho de identificação e
        classificação dos lançamentos, de modo que o resultado de fechamento
        possa ser conciliado de acordo com o módulo de gestor de aplicação.
      </p>
    </div>
    <div class="container">
      <h3>Resultado</h3>
      <p>
        É importante que o resultado dos processos de Tesouraria possa ser
        integrado aos sistemas de Gestão de Caixa e Controle Orçamentário.
      </p>
    </div>
  </section>
</main>
