<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Mercado digital</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                Os serviços vêm se ampliando ao longo do tempo. Cabe a cada um de nós da PD Case a tarefa de conhecê-los melhor e, dessa forma, buscamos garantir a satisfação e nossos clientes.
                <br><br>
                Com o avanço da internet, hoje os bancos, por meio de seus portais eletrônicos, podem proporcionar um verdadeiro cardápio de seus serviços: opções de investimentos, modalidades de seguro, consórcios, empréstimos, planos de previdência entre outros. Dessa forma, pode ficar muito mais fácil para seus clientes apurarem informações e realizarem procedimentos, o que agiliza o atendimento.
                <br><br>
                Para além do setor bancário, podemos proporcionar a qualquer negócio, anunciar, agilizar processos e reduzir custos. Assim, ajudar a se manter firme e competitivo no mercado
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-grid">
            <a [routerLink]="['/gerenciador-financeiro']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Gerenciador Financeiro</a>
            <a [routerLink]="['/mobile']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Mobile</a>
            <a [routerLink]="['/sms']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Mensagens SMS</a>
        </div>
    </div>
</main>
