<main>
    <section class="manchete">
        <div class="container">
            <h1>Cobrança bancária</h1>
        </div>
    </section>
    <section>
            <div class="container">
                <div class="linha">
                    <div class="coluna"> 
                        <h3>Fatores Preponderantes</h3>
                        <p>
                          Os meios de pagamentos eletrônicos através de COBRANÇA BANCÁRIA
                          têm crescido nos últimos anos devido à facilidade de tratamento,
                          baixo custo e liquidação financeira junto à rede bancária.
                        </p>
                        <p>
                          Outro fator preponderante se relaciona às alternativas de
                          antecipação de valores caucionados aos títulos em carteira, que
                          requer o registro de dados em sistema apropriado de forma a
                          garantir a veracidade das informações e transito de valores de
                          liquidação no banco emitente.
                        </p>
</div>
                    <div class="coluna">
                        <h3>A solução</h3>
    <p>
      A COBRANÇA BANCÁRIA da PD CASE disponibiliza todo o trâmite de
      processamento de títulos através do INTERCÂMBIO MAGNÉTICO definido
      pela FEBRABAN, até a liquidação por canais próprios ou vinculado a
      COMPENSAÇÃO ELETRÔNICA.
    </p>
    <p>
      Dentro do fluxo são disponibilizados uma série de comandos
      descritos no padrão FEBRABAN, onde o banco pode atuar na gestão
      das carteiras, ou possibilitar ao CEDENTE realizar comandos
      autorizados através de canais de acesso.
    </p>
                    </div>
                </div>
            </div>
</section>
</main>
