<main>
	<section class="manchete">
		<div class="container container-manchete ">
			<h1>Central de risco BACEN</h1>
		</div>
	</section>
	<section class="main">
		<div class="container container-texto">
			<h3>Sistema de Controle das Ordens Judiciais via BACEN</h3>
			<p>O Bacenjud é um sistema eletrônico de relacionamento entre o Poder Judiciário e
		as instituições financeiras, intermediado pelo Banco Central, que possibilita à autoridade
		judiciária encaminhar requisições de informações e ordens de bloqueio, desbloqueios e
		transferências de valores bloqueados.
		Por meio do Bacenjud os juízes, com senhas previamente cadastradas, preenchem um
		formulário na internet solicitando as informações necessárias a determinado processo
		com o objetivo de penhora on-line ou outros procedimentos judiciais. Ao final do dia, a
		ordem judicial é repassada eletronicamente para os bancos, para o cumprimento no dia
		seguinte, reduzindo o tempo de tramitação do pedido de informação ou bloqueio e, em
		consequência, dos processos</p>
		<p>O BacenJud 2.0 é um avanço na comunicação entre o Judiciário e as instituições financeiras, conferindo economia, segurança, controle e agilidade no processamento das ordens judiciais.</p>
			<p>Por meio dele, os magistrados protocolizam ordens judiciais de requisição de informações, bloqueio, desbloqueio e transferência de valores bloqueados, que serão transmitidas às instituições bancárias para cumprimento e resposta.</p>
			<ul>
				<li>Automatização total do processo de execução das ordens judiciais;</li>
			<li>Rastreabilidade e visualização das etapas de cada ordem;</li>
			<li>Integração com sistemas legados e automação;</li>
			<li>Relatórios e consultas de monitoração e controle.</li>
			</ul>
		</div>
			<div class="container container-texto">
				<div class="linha">
					<div class="coluna"> 
						<h3>Principais funções</h3>
			<ul>
				<li>Importação automática do arquivo disponibilizado pelo BacenJud;</li>
				<li>Processamento e distribuição das ordens de acordo com suas características;</li>
				<li>Gestão centralizada da situação de execução de cada ordem. Permitindo a Cooperativa ter uma visão geral de todas as demandas judiciais executadas;</li>
				<li>Rastreabilidade por código da ordem, permitindo a visão de todas as etapas;</li>
				<li>Consolidação das respostas dos sistemas e envio do arquivo resposta;</li>
				<li>Gravação de Logs de auditoria.</li>
			</ul>
					</div>
					<div class="coluna">
						<h3>Benefícios</h3>
			<p>A nova versão possui a mesma confiabilidade e segurança da versão do Sisjud para Bancos.</p>
			<p>E seus benefícios vão além disso.</p>
			<ol>
				<li><b>Exatidão na execução das ordens judiciais</b><br>Consequentemente redução no risco de imagem da Cooperativa;</li>
				<li><b>Transparência</b><br>Transparência no fornecimento de informações sobre o cumprimento de ordens jurídicas;</li>
				<li><b>Redução de trabalho do gestor</b><br>O gestor fica apenas com a responsabilidade de realizar o acompanhamento do processo.</li>
			</ol>
					</div>
				</div>
			</div>
			<div class="container container-texto">
				<div class="linha">
					<div class="coluna"> 
						<h3>Segurança</h3>
							<ul>
								<li>Usa recursos modernos de segurança e criptografia nas transmissões;</li>
							<li>Elimina riscos de falhas provenientes do processamento humano, conferindo campos de digitação e reduzindo os níveis de acesso à informação.</li>
							</ul>
					</div>
					<div class="coluna">
						<h3>Economia</h3>
							<p>Porque diminui o custo de processamento das ordens e solicitações judiciais tanto no âmbito do Judiciário, quanto no Banco Central e nas instituições financeiras, e mais a redução do prejuízo das partes com a manutenção por longo tempo dos recursos parados.</p>
					</div>
				</div>
			</div>
			<div class="container container-texto">
				<div class="linha">
					<div class="coluna"> 
						<h3>Controle </h3>
							<p>Controle, porque permite ao Judiciário o acompanhamento das respostas às ordens e solicitações emitidas.</p>
					</div>
					<div class="coluna">
						<h3>Agilidade</h3>
							<p>Agilidade, porque as ordens são transmitidas eletronicamente e têm suas respostas visíveis para o juízo emissor na manhã do segundo dia útil após seu recebimento pelas instituições.</p>
						</div>
				</div>
			</div>
</section>
</main>
