<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Crédito web</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Simulações Facilitadas </h3>
            <p class="texto">
                A solução de “Credito Web” é uma alternativa de livre acesso em site institucional no qual pode ser feita a simulação de financiamento com mínimo de informações, que direcionam o cliente a escolha a finalidade do valor solicitado, tais com capital de giro, aquisição de bens ou serviços, área fim, dentre outros. Através da delimitação de faixa de valores são sugeridas parcelas e taxas prefixadas, dando diversos cenários de pagamentos.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Especializada </h3>
            <p class="texto">
                Na realização dos cenários de operações pode ser confirmada a opção por requerimento de contatos para continuidade do processo de solicitação. Através de informação de email são comandadas mensagens de confirmação, com dados eletivos da necessidade de recursos. Nesse contexto, a demanda de crédito pode ser focada de acordo com especialização e área de atuação dos agentes de crédito, e todos os dados serem integrados ao módulo de <a [routerLink]="['/analise-e-atendimento']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="linkAnalise">ANÁLISE & ATENDIMENTO</a>.
            </p>
        </div>
    </div>
</main>
