<main>
  <section class="manchete">
    <div class="container">
      <h1>Pagamento de empresas</h1>
    </div>
  </section>
  <section>
      <div class="container">
        <div class="linha">
          <div class="coluna"> 
            <h3>Aumentando a produtividade</h3>
              <p>
                O conjunto de processos de pagamentos de empresa é um padrão de
                envio de dados baseados no segmentos L, N e P do padrão FEBRABAN.
                O uso dessa sistemática somente tem ganho de produtividade quando
                os sistemas corporativos das empresas, notadamente o Contas a
                Pagar gerar arquivos de acordo com layout do item 3.1 – Pagamentos
                do manual de intercãmbio entre Bancos e Empresas.
              </p>
            </div>
          <div class="coluna">
            <h3>Abrangência</h3>
              <p>
                No escopo desse módulo são atendidos os pagamentos de
                Títulos(Segmento L), tributos e impostos(N) e via conta
                corrente(P). A confirmação de realização de pagamentos é
                condicionadas a regras de disponibilidade de saldos ou limite de
                crédito, que no contraponto de envio ao destinatário esteja de
                acordo com padronização, que confirme a liquidação do pagamento.
                Como exemplos: DARF, envio de arquivo a RFB, Titulos de Cobrança –
                Envio de Arquivo a COMPE ou DDA.
              </p>
            </div>
        </div>
      </div>
</section>
</main>