<main>
	<section class="manchete container-manchete">
		<div class="container">
			<h1>Consignação</h1>
		</div>
	</section>
	<section class="main">
		<div class="container container-texto">
			<h3>Controle de margem</h3>
			<p>O módulo de CONSIGNAÇÃO E CONTROLE DE MARGEM se destina as empresas conveniadas,
				que administra a folha de pagamentos, que dão alternativa de realização de empréstimos a
				seus funcionários, tendo como garantia parte dos vencimentos, que são limitados por valor
				bruto, quantidade de empréstimos e condicionantes ao vinculo de trabalho.</p>
			</div>
			<div class="container container-texto">
				<div class="linha">
					<div class="coluna"> 
						<h3>Processos on-line</h3>
						<p>Através da interação de processos on-line, tais como consultas, simulações, averbações e
			renegociações, é permitido a empresa controlar e autorizar a concessão de empréstimos de
			acordo com regras estabelecidas no mercado.</p>
					</div>
					<div class="coluna">
						<h3>Trocas de remessas</h3>
	<p>Após a autorização e concessão de empréstimos são realizadas as trocas de remessas, nas
quais são processados todos os eventos permitidos na interação com Bancos conveniados, e
modo que seja dado ciência e conhecimento das amortizações de parcelas contratadas.</p>

					</div>
				</div>
			</div>
	
</section>
</main>