<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Depósito a prazo</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                Os produtos financeiros de Depósito a Prazo são opções permitidas aos investidores, que possam negociar prazos, taxas e benefícios diretos junto aos bancos, de modo a adequar os retornos financeiros de acordo com perfil de risco do investidor.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> O que se enquadra? </h3>
            <p class="texto">
                Enquadram nesses produtos do CDB e RDB que podem ter taxas prefixadas ou posfixadas que determinam a remuneração das aplicações do cliente. Na negociação das aplicações podem ser definidas taxas de ofertas pela Gestão Central, considerando o valor da aplicação, prazo de manutenção e reciprocidade do cliente.    
            </p>
        </div>
        <div class="container-texto">
            <h3 class="titulo-texto"> Qual o diferencial? </h3>
            <p class="texto">
                O diferencial em relação aos demais produtos financeiros consiste na flexibilização de taxas de acordo com política de captação.    
            </p>
        </div>
    </div>
</main>
