<main>
    <section class="manchete">
        <div class="container">
            <h1>Crédito de desenvolvimento</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>
				O crédito aplicado na função de desenvolvimento exige uma análise
				maior sobre a viabilidade do empreendimento a ser financiado
				através de levantamento de informações contidas no plano de
				negócios do tomador de crédito. Nesse sentido são disponibilizados
				instrumentos de análise que requerem informações detalhadas
				através de preenchimento de quadros, que subsidiam a análise de
				viabilidade.
			  </p>
        </div>
        <div class="container">
            <h3>Diferenciais</h3>
            <p>
                Devido a complexidade e especialização necessária no entendimento
                das solicitações de financiamento, a administração de contratos
                permite diversas destinações e liberações de recursos, podendo
                contemplar fontes de recursos diferenciadas.
              </p>
            <p>
                Ainda, como diferenciação ao crédito tradicional, são permitidas
                na concessão de garantias do próprio empreendimento financiado,
                tendo a visão da evolução patrimonial e valorização de mercado.
              </p>
        </div>
        <div class="container">
            <h3>Especializado</h3>
            <p>
                A implantação de solução de crédito de desenvolvimento requer
                customização de acordo com método de concessão de crédito.
              </p>
        </div>
    </section>
</main>