<main class="main">
  <section class="manchete">
    <div class="container-titulo">
      <h1 class="titulo-pagina">Débito Direto Autorizado</h1>
    </div>
  </section>
  <section>
    <div class="container-div">
      <div class="coluna">
        <h3 class="titulo-texto">PD DDA</h3>
        <p class="texto">
          O DDA é um conjunto de serviços permitidos aos bancos para realização
          de pagamentos on-line de títulos em cobrança, no qual os títulos
          registrados podem ser enviados a uma Clearing centralizadora da CIP,
          que faz a distribuição aos bancos integrados. Através do chaveamento
          por CPF/CNPJ, pode ser informado aos clientes da existência de
          cobrança, que posteriormente pode aceitar ou rejeitar o pagamento.
        </p>
        <p class="texto">
          A solução de DDA da PDCASE atende aos padrões de troca de informações
          no formato XML, fazendo a transacionamento dos dados de acordo com
          regras estabelecidas pela CIP.
        </p>
      </div>
    </div>
    <div class="container-div">
      <div class="coluna">
        <h2 class="titulo-texto" id="h2">Benefícios</h2>
        <ul class="lista-beneficios">
          <li class="texto">
            Maior Segurança no processo de pagamentos de boletos;
          </li>
          <li class="texto">
            Alternativa de oferta de crédito para pagamento de boletos;
          </li>
          <li class="texto">Redução de filas de agências;</li>
          <li class="texto">
            Direcionamento de pagamentos para canais de autoatendimento;
          </li>
          <li class="texto">
            Maior agilidade no processo de negociação de pagamento.
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
