<body class="interna menu-1">
  <main>
    <section class="manchete">
      <div class="container container-manchete">
        <h1>Sobre</h1>
      </div>
    </section>
    <section class="main">
      <div class="container container-texto">
        <p>
          Fundada em 1991, a PD Case oferece produtos e serviços de software que
          utilizam a tecnologia como meio de valorização do conhecimento do
          cliente.
        </p>
        <p>
          O profundo conhecimento de negócios e de processos, a grande
          experiência em projetos de desenvolvimento para vários setores e a
          garantia das entregas realizadas, posicionam a PD Case de forma
          diferenciada, garantindo a oferta de soluções altamente competitivas.
        </p>
      </div>
      <div class="container container-texto">
        <h3>Valores</h3>
        <div class="grid grid-3">
          <div class="margem bg-primaria">
            Compromisso com princípios éticos e legais.
          </div>
          <div class="margem bg-primaria">
            Compromisso com as clientes e responsabilidades assumidas.
          </div>
          <div class="margem bg-primaria">
            Transparência e eficiência operacional.
          </div>
          <div class="margem bg-primaria">
            Respeito pela individualidade e diversidade das pessoas.
          </div>
          <div class="margem bg-primaria">
            Incentivo a inovação e ao empreendedorismo interno.
          </div>
          <div class="margem bg-primaria">Responsabilidade social.</div>
          <div class="tag-anos bg-secundaria">
            <div class="margem">
              Mais de 30 anos realizando projetos e agregando valores aos nossos
              clientes
            </div>
          </div>
          <a [routerLink]="['/mps']" class="tag-selo bg-secundaria" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">
            <div class="margem">
              <p>
                Desde 2007 com processos maduros de desenvolvimento e
                sustentação definidos, avaliados e certificados pelo MPS-BR.
              </p>
              <div class="selos">
                <img
                  src="/assets/selo-c.svg"
                  loading="lazy"
                  class="selo"
                  alt="MPSBR C"
                  width="72"
                  height="72"
                />
                <img
                  src="/assets/selo-f.svg"
                  loading="lazy"
                  class="selo"
                  alt="MPSBR G"
                  width="72"
                  height="72"
                />
              </div>
            </div>
          </a>
          <div class="tag-profissionais bg-secundaria">
            <div class="margem">
              Equipe capacitada com larga experiência em vários projetos e
              preparada para se adaptar as necessidades dos clientes
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<footer></footer>
