<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Agendamento e débito automático</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                O AGENDAMENTO & DÉBITOS da PD CASE congrega padrões de validações que podem ser originados de arquivos enviados por empresas conveniadas no padrão FEBRABAN, ou por comandos executados nos canais de acesso aos clientes.
                <br><br>
                Os serviços de AGENDAMENTO de pagamentos permitem aos clientes uma melhor administração do fluxo de despesa, com uma visão antecipada de suas obrigações financeiras.
                <br><br>
                A padronização das funções de DÉBITO em conta canaliza os controles e ações de todas demandas sistêmicas em um único padrão de validação, verificação de origem e autenticação de dados para efetivação de lançamentos, com condicionantes de repescagem até que exista suficiência de saldos.    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-colunas">
            <div class="coluna"> 
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Seguindo o raciocínio
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        Seguindo aos padrões verificados na ARRECADAÇÃO, os débitos programados seguem os mesmos mecanismos de pagamentos, apenas diferindo com fonte de liquidação financeira a existência de CONTA CORRENTE movimento e a suficiência de saldo ou limite de crédito disponível.    
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Assiduidade de pagamento
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        A AUTORIZAÇÃO DE DÉBITO define uma assiduidade de pagamentos do cliente com determinada empresa. As características desses débitos estão categorizadas em consumo permanente ao dia-a-dia.
                        <br><br>
                        O DÉBITO COMANDADO origina de faturas ou serviços enviados diretamente pela empresa favorecida, no qual a opção de pagamento é do cliente.
                    </p>
                </div>
            </div>
            <div class="coluna">
                <div class="container-titulo-coluna">
                    <p class="texto">
                        Possibilidades
                    </p>
                </div>
                <div class="container-texto-coluna">
                    <p class="texto">
                        Existem ainda opções de realização de pagamentos de tributos, tais como DARF e GPS, e esses podem ser capturados via arquivo.
                        <br><br>
                        Podem ser acoplados pagamentos comandados via programação, tais com investimentos ou parcelamento de débito originados nas carteiras de crédito, que flui do modo padrão para a AGENDA DE DÉBITO.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
