<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Prevenção de lavagem de dinheiro</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
          <p>O <span class="cor-destaque">PD Auditoria</span> funciona como uma poderosa ferramenta preventiva e de vigilância contínua das movimentações financeiras.</p>
          <p>Auditoria/Controle e prevenção de Lavagem de Dinheiro é um módulo da solução <a class="link" [routerLink]="['/pdBank']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">PD Bank</a>, Sistema integrado para gestão de instituições financeiras, cobrindo as áreas de <a class="link" [routerLink]="['/controladoria']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Controladoria &amp; Controles Internos</a>, Gestão de Clientes, Mercado &amp; Capitação, <a class="link" [routerLink]="['/portal-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Crédito &amp; Fomento</a>, <a class="link" [routerLink]="['/core-bancario']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Serviços Bancários</a> e Suporte aos Canais de Atendimento.</p>
      </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Problema</h3>
                      <p>Lavagem de dinheiro (ou branqueamento de capitais) é uma expressão que se refere a práticas econômico-financeiras que têm por finalidade dissimular ou esconder a origem ilícita de determinados ativos financeiros ou bens patrimoniais, de forma a que tais ativos aparentem uma origem lícita ou a que, pelo menos, a origem ilícita seja difícil de demonstrar ou provar.</p>
                      <p>Essas práticas envolvem múltiplas transações empregadas para ocultar a origem dos ativos financeiros, e permitir que eles sejam utilizados sem comprometimento dos autores. Essa dissimulação é caracterizada como crime antecedente.</p>
                  </div>
                <div class="coluna">
                    <h3>Solução</h3>
                      <p>A solução PD Auditoria foi desenvolvida para o controle e prevenção à lavagem de dinheiro, com foco no monitoramento das movimentações financeiras de clientes a partir de interação com os sistemas de operações, tais como Contas Correntes, Poupança, Cobrança, etc.</p>
                      <p>O PD Auditoria é uma solução totalmente aderente a Lei 9.613/98, Circular 2.852/98, Carta Circular 2.826/98, Carta Circular 3.339/06, Princípios Fundamentais do Acordo da Basiléia e Resolução 2.5554/98.</p>
                  </div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                  <h3>De acordo com as regras do jogo</h3>
                  <p>A partir das regras de monitoramento cadastradas pelo comitê de auditoria e controle da instituição financeira, baseadas na Circular 2.852/98 do BACEN, o PD Auditoria acompanha toda a movimentação financeira do cliente e faz uma análise preventiva.</p>
                  <p>Ao identificar um ou mais lançamentos suspeitos, que não estejam compatíveis com as regras de análise, tais como o comportamento habitual do cliente ou seu ramo de atividade, o sistema emite alertas aos gestores e aos gerentes de contas.</p>
              </div>
                <div class="coluna">
                    <h3>Conheça seu Cliente</h3>
                      <p>De acordo com a política “Conheça seu Cliente” (KYC – Know Your Customer), os gerentes tem a responsabilidade de contatar o cliente para justificar a movimentação. </p>
                      <p>Caso a explicação não seja satisfatória, pode ser solicitada uma justificativa nova e/ou complementar. O sistema sempre aceitará novas solicitações e realiza automaticamente a abertura do processo administrativo e, posteriormente, à conclusão da análise.</p>
                      <p>Caso a movimentação seja caracterizada como lavagem de dinheiro, a instituição deve comunicar ao BACEN via SISBACEN e este ao COAF, que visa manter a credibilidade e a reputação das instituições e do sistema financeiro como um todo.</p>
                  </div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                  <h3>Como funciona</h3>
                      <p>O PD Auditoria funciona como uma poderosa ferramenta preventiva e de vigilância contínua das movimentações financeiras. Seu objetivo é o combate aos atos ilícitos, tornando a identificação de ações criminosas uma atividade constante na rotina das instituições financeiras. </p>
                      <p>O exemplo ao lado ilustra a sequência lógica do sistema, onde o departamento fiscalizador cadastra as regras, as movimentações suspeitas são identificadas automaticamente e os gerentes de contas justificam o motivo das movimentações.</p>
                  </div>
                <div class="coluna">
                    <h3>Fácil instalação e integração</h3>
                      <p>O PD Auditoria é de fácil instalação e integração com os sistemas operacionais responsáveis pelas movimentações financeiras que devem ser monitoradas. Pra sua implantação a PD Case conta com um corpo técnico qualificado e com uma experiência de mais de vinte anos em tecnologia e conhecimento do negócio bancário.</p>
                  </div>
            </div>
        </div>
    </section>
</main>