<main class="main">
  <section class="manchete">
    <div class="container">
      <div class="container-titulo">
        <h1 class="titulo-pagina">Crédito direto ao consumidor</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="linha">
        <div class="coluna col-2">
          <h3 class="titulo-texto">
            Núcleo de controle de operações de crédito
          </h3>
          <p class="texto">
            O CDC – Crédito Direto ao Consumidor é uma categoria específica do
            crédito parcelado. O diferencial consiste na finalidade do recurso a
            ser emprestado, no qual a destinação está atrelada à aquisição de
            algum bem ou serviço. Nesse foco, os valores devem estar estimados
            nas faixas de valores do ativo a ser financiado.
          </p>
          <p class="texto">
            Normalmente, o tratamento de concessão de CDC é feito pelo próprio
            lojista através de canais de acesso aos processos de simulação e
            concessão. Na opção por conceder o crédito, são submetidas análises
            do tomador final, aplicando tratamento de avaliação de risco e
            capacidade financeira, tendo em vista que as garantias podem estar
            relacionadas ao próprio bem financiado.
          </p>
          <p class="texto">
            O CRÉDITO COMERCIAL da PD CASE abrange os requisitos gerais para
            gerenciamento de operações de crédito, permitindo manter todo o
            controle de carteiras numa única fonte de dados.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="linha">
        <div class="coluna col-2">
          <h3 class="titulo-texto">Funcionalidades e considerações</h3>
          <p class="texto">
            A funcionalidade inicial do CRÉDITO COMERCIAL requer que a
            <a
              class="link"
              [routerLink]="['/gestao-credito']"
              onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
              >Gestão de crédito</a
            >
            determine todos os requisitos de dados em função da modalidade de
            crédito. Desta forma, efetua-se a atribuição de controles que
            permitem o acompanhamento das operações de crédito, desde a sua
            aprovação até sua liquidação ou direcionamento para cobrança em
            atraso.
          </p>
          <p class="texto">
            Vale ressaltar que a abrangência do CRÉDITO COMERCIAL considera que
            todos os cadastros de tomadores, avaliação de risco de crédito e
            avais/garantias já estejam realizados e aprovados.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="linha">
        <div class="coluna col-2">
          <h3 class="titulo-texto">Sistemática</h3>
          <p class="texto">
            O contexto consiste em gerenciar quaisquer operações. As funções
            aderentes ao sistema podem ser avaliadas no portfólio da PD CASE ou
            ajustadas conforme sistema legado mantido pela instituição.
          </p>
          <p class="texto">
            A sistemática usual do mercado financeiro evidencia o tratamento em
            sistemas distintos conforme a modalidade de crédito. A prática,
            porém, permite verificar que as funções são recorrentes dos
            mecanismos cadastrais, avaliação de riscos, parcelamento,
            integrações de sistemas e controles de saldos.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="linha">
        <div class="coluna col-2">
          <h3 class="titulo-texto">Integrações e modalidades de crédito</h3>
          <p class="texto">
            O CRÉDITO COMERCIAL integra num único núcleo de controle todas as
            funções comuns, permitindo fazer integrações modulares conforme a
            modalidade de crédito contratada. A fonte de alimentação que
            lastreia as operações de crédito fomenta as bases de eventos, nas
            quais aplicam-se controles distintos.
          </p>
          <p class="texto">
            A figura ilustra a diversidade de modalidades de crédito conforme a
            operacionalização, demonstrando-se os instrumentos financiáveis ou
            garantidores. Cada módulo possui interface distinta, porém com
            tratamento padronizado para efeito de manutenção das posições de
            crédito.
          </p>
          <p class="texto">
            A área de crédito requer funções equivalentes a qualquer modalidade
            de crédito. A PD CASE oferece soluções adequadas ao mercado, que
            permitem agregar as funções auxiliares às carteiras de crédito.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
