<main>
  <section class="manchete">
    <div class="container">
      <h1>Avaliação de risco</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        Nas fases pré-operação as informações fornecidas são base para avaliação
        de risco de crédito. Os dados mantidos no módulo de CADASTRO DE PESSOAS
        podem ser submetidos a modelos específicos de avaliação de risco, que
        tratam de modo objetivo cada informação mantida, de modo a estabelecer
        nota de risco.
      </p>
      <p>
        Os fatores de risco permitem definir classificação de risco e limites de
        crédito, aplicando a visão dos 5 Cs.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna margem bg-secundaria"><h4>Caráter</h4></div>
        <div class="coluna margem bg-secundaria"><h4>Capital</h4></div>
        <div class="coluna margem bg-secundaria"><h4>Condições</h4></div>
        <div class="coluna margem bg-secundaria"><h4>Capacidade</h4></div>
        <div class="coluna margem bg-secundaria"><h4>Colateral</h4></div>
      </div>
    </div>
  </section>
</main>
