<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Mobile</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Aplicativos móveis </h3>
            <p class="texto">
                Os smartphones são a extensão do corpo humano e os aplicativos são criados para complementar a vida das pessoas.
                <br><br>
                A PD Case possui vasta experiência em desenvolvimento de aplicativos móveis para Android, IOS e Windows Phone. Provemos a melhor experiência ao usuário, criando aplicativos que de fato agregam praticidade ao seu negócio.
                <br><br>
                E a forma como compramos produtos e serviços, como trabalhamos, nos divertimos e como nos relacionamos também mudou.
                <br><br>
                A adoção de smartphones no Brasil tem sido cada vez mais rápida. Uma recente pesquisa do IDC divulgada pela ABINEE (Associação Brasileira da Indústria Elétrica e Eletrônica) aponta que 76% dos celulares vendidos no Brasil já são smartphones. O segmento de smartphones deve crescer 30% neste ano.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Negócios Mobile </h3>
            <p class="texto">
                Cada vez mais, as pessoas estão usando smartphones para resolver seus problemas do dia-a-dia. Algumas empresas já começaram a incorporar o comportamento “sempre-ligado” aos seus negócios.
                <br><br>
                Se você tem uma ideia, serviço ou produto e deseja levar para o mundo mobile ou usar o poder dos aplicativos para impulsionar seu negócio, nós podemos ajudar.
                <br><br>
                Compromentimento ético com nossos valores    
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Negócios Mobile </h3>
            <ul>
                <li>Equipe apaixonada e entusiasmada com os seus projetos</li>
                <li>Ambiente agradável que propicia liberdade criativa</li>
                <li>Priorização na experiencia dos usuários</li>
                <li>Compromentimento ético com nossos valores</li>
            </ul>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Desenvolvimento de Aplicativos </h3>
            <p class="texto">
                Criamos aplicativos de uma nova geração que ampliam o valor da sua marca para seus clientes, em todos os lugares.
                <br><br>
                Os aplicativos oferecem à sua empresa informações sobre seus produtos ou serviços, integrados às suas estratégias de comunicação e marketing de forma que os seus funcionários e clientes realmente fiquem sempre bem informados.
            </p>
        </div>
    </div>
</main>
