<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Cesta de tarifas</h1>
        </div>
    </section>
    <section class="main">
            <div class="container container-texto">
                <div class="linha">
                    <div class="coluna"> 
                        <h3>Política única de tarifas</h3>
                            <p>
                              A criação de uma política única de tarifas de serviços permite
                              homogeneizar os valores a serem cobrados, e ao mesmo tempo
                              enquadrando na regulamentação do Banco Central, definida pela
                              resolução 3518.
                            </p>
                            <p>
                              A cobrança efetiva de tarifas somente pode ser feita desde que
                              seja demonstrado de forma analitica a utilizacao dos serviços,
                              dentro de padrão único, de modo que possa haver comparação entre
                              os diversos bancos, e por conseqüência criar um ambiente de
                              concorrência.
                            </p>
                        </div>
                    <div class="coluna">
                        <h3>Possibilidades</h3>
                            <p>
                              Como cada cliente tem perfil diferenciado, podendo ter produtos
                              financeiros que também dêem retorno ao banco, o TARIFADOR
                              viabiliza regras para diminuir a cobrança de tarifas em função da
                              RECIPROCIDADE DO CLIENTE, quando na existência de saldos em
                              aplicação(ex. Contas Correntes, Fundos), ou mesmo pelo volume de
                              empréstimos contratados.
                            </p>
                            <p>
                              Outra alternativa propiciada é função de uso excessivo de serviços
                              ao que foi contratado através da aplicação de regras de
                              REGRESSIVIDADE DE COBRANÇA, que permite diminuir o custo unitário
                              por serviços até um piso estabelecido.
                            </p>
                        </div>
                </div>
            </div>
</section>
</main>