<div class="manchete">
  <div class="container-titulo">
    <h1 class="titulo-pagina">Gestão de crédito</h1>
  </div>
</div>
<main class="main">
  <div class="container-div">
    <div class="container-texto">
      <p class="texto">
        A oferta de crédito é o foco determinante na rentabilidade e ganhos das
        instituições através da colocação de produtos com perfis diferenciados,
        ao mesmo tempo associando regras de limitantes na concentração da
        carteira de crédito.
        <br /><br />
        A flexibilidade na definição de produtos através de linhas de crédito
        permite diminuir o tempo de colocação de novas opções aos clientes,
        através de controles num único processo de negócio.
      </p>
    </div>
  </div>
  <div class="container-div">
    <div class="container-texto">
      <h3 class="titulo-texto">Gerenciamento de múltiplas carteiras</h3>
      <p class="texto">
        Os parâmetros das linhas de crédito subsidiam desde o processo de
        analise da proposta, passando pelas etapas de liberação até o
        acompanhamento do andamento dos pagamentos.
        <br /><br />
        Os ganhos pelo gerenciamento numa política única de gestão resultam na
        visão global da carteira de crédito, onde as informações são
        demonstradas na forma de estruturação dos produtos de crédito.
        <br /><br />
        Etapas para definição de linhas de crédito.
      </p>
      <ol>
        <li>Liberação da linha</li>
        <li>Definido alvo</li>
        <li>Fonte e origem dos recursos</li>
        <li>Custos operacionais</li>
        <li>Limites de crédito</li>
      </ol>
      <p>
        Os parâmetros das linhas delimitam a entrada de informações, quando no
        estágio de analise das propostas de crédito, que são a base de
        alimentação das liberações de recursos.
        <br /><br />
        Um mesmo cliente pode ter diversas destinações, por diferentes linhas de
        crédito e fontes de recursos num mesmo contrato de crédito. Cada
        destinação pode ter uma ou mais liberações de valores.
        <br /><br />
        Desde o processo de análise são permitidas simulações de cronograma de
        pagamentos, de modo que possa ser escolhida a melhor opção, sempre
        aplicando as regras definidas nas linhas de crédito.
        <br /><br />
        As formas de cálculo podem adotar taxas pré ou posfixadas, ou mesmo
        combinar os dois tipos numa única destinação, que determina a composição
        dos saldos diários de acordo com apropriação dos encargos contratuais.
      </p>
    </div>
  </div>
  <div class="container-div">
    <div class="container-texto">
      <h3 class="titulo-texto">Fluxo de liberação de crédito</h3>
      <p class="texto">
        Todo o fluxo de liberação de crédito se baseia nas informações mantidas
        no processo de
        <a
          [routerLink]="['/analise-e-atendimento']"
          onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          class="linkAnalise"
          >ANÁLISE & ATENDIMENTO</a
        >
        das propostas apresentadas pelos clientes. Sendo que somente a propostas
        aprovadas pelos níveis de alçada de crédito são aptas a ter o credito
        liberado.
      </p>
    </div>
    <div class="container-texto">
      <h3 class="titulo-texto">Resultado</h3>
      <p class="texto">
        O acompanhamento das posições de crédito permite a visualização das
        carteiras com as posições atualizadas dia-a-dia. Na forma analítica
        podem ser utilizados extratos de contrato com visão de cliente ou
        gerencial com informações de controles internos.
        <br /><br />
        A carteira de crédito pode ser conciliada a qualquer momento através da
        posição de saldos com a
        <a
          [routerLink]="['/gestao-contabil']"
          onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;"
          class="linkContabilidade"
          >CONTABILIDADE</a
        >, com visões de contas de ativos, carteira classificada e mapa de
        provisão de crédito.
      </p>
    </div>
  </div>
</main>
