<main>
  <section class="manchete">
    <div class="container">
      <h1>Cessão de crédito</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        O módulo de Cessão de Crédito atende aos requisitos previstos nas
        especificações da CIP, quando a instituição faz a venda ou compra de
        operações de crédito, como forma de levantar capital, dando segurança ao
        sistema financeiro dos riscos, obrigações e direitos de um ativo de
        crédito.
      </p>
    </div>
    <div class="container">
      <h3>C3</h3>
      <p>
        A C3 (Câmara de Cessões de Crédito) operacionalizada pela CIP permite às
        Instituições Financeiras e aos Fundos de Investimento registrar suas
        operações de cessão e bloqueio de contratos de crédito, de tal forma que
        um mesmo contrato não seja cedido mais de uma vez pela mesma IF ou
        oferecido como lastro em mais de uma operação.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>A quem se destina o C3?</h3>
          <p>
            Às instituições financeiras, FIDCs (Fundos de Investimentos em
            Direito Creditório) e demais entidades autorizadas pelo Banco
            Central que desejem realizar operações de cessão de créditos ou
            utilizar os contratos de crédito como garantia em operações
            estruturadas como, por exemplo, para emissão de DPGE II (Depósito a
            Prazo com Garantias Especiais) do FGC (Fundo Garantidor de Crédito).
          </p>
          <p>
            Maiores detalhes sobre regulamentação na C3
            <a
              class="link"
              href="https://www.cip-bancos.org.br/Paginas/Sobre.aspx"
              >CLIQUE AQUI</a
            >.
          </p>
        </div>
        <div class="coluna">
          <h3>Solução</h3>
          <p>
            Essencialmente, este módulo interage nos padrões de mensagens
            previstos na troca de informações. Nas opções por cessão de
            operações é feita a interface automática com o módulo de Gestão de
            Crédito, tendo os impactos do ato na concessão nos demonstrativos de
            crédito (3040), bem como nas integrações contábeis.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
