<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Microcrédito</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
            <p>
                O Microcrédito é uma linha de crédito incluída no conjunto de
                políticas públicas nacionais de trabalho e de geração de renda
                instituídas pelo Governo Federal no art. 9 da lei n. 4.595, de 31
                de Dezembro de 1.964, destinada à população de baixa renda e aos
                microempreendedores, visando aumentar a capacidade produtiva da
                economia e a formação de capital social básico para geração de
                emprego e renda e inclusão social.
              </p>
              <p>
                O PD_DESENV é a solução da PD CASE que utiliza recursos
                tecnológicos de última geração e que reúne todas as
                funcionalidades necessárias para o gerenciamento e controle
                operacional de processos vinculados às atividades de microcrédito,
                garantindo confiabilidade, agilidade e segurança às instituições
                financeiras.
              </p>
              <p>
                Dentre os inúmeros objetivos atendidos com a solução PD_DESENV,
                pode-se destacar os listados a seguir
              </p>
              <p>
                O foco do Microcrédito visa atender ao micro-empreendedor
                individual(MEI) através de contratos padrões, submetidos a
                Levantamento Sócio-Econômico(LSE), no qual podem ser aplicadas as
                alternativas de garantias por aval solidário, tendo a visão
                compartilhada das obrigações de reembolsos das parcelas para todos
                os integrantes de cadeia de negócios.
              </p>
              <p>
                Essa modalidade visa alavancar pequenos negócios com capacidade de
                geração de empregos. Nesse foco a solução de Microcrédito
                estabelece uma esteira padrão de concessão, na qual agentes de
                crédito qualificados possa fazer todos os processos de captura de
                informações, dando parecer sobre a viabilidade e capacidade
                empreendedora de forma objetiva, gerando contratos em curto espaço
                de tempo.
              </p>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna">
                    <h3>Simulação de crédito</h3>
                    <p>
                      Simulação a partir do montante do empréstimo e quantidade de
                      prestações o valor da parcela a ser paga em sua data de
                      vencimento.
                    </p>
                </div>
                <div class="coluna">
                    <h3>Renegociação de contratos</h3>
                    <p>
                    Caso o cliente apresente dificuldades em honrar seus compromissos
                    com empréstimos, a solução disponibiliza a renegociação de dívidas
                    por meio da ampliação de prazos contratuais ou da liquidação com
                    descontos destas dívidas .
                    </p>
                </div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna">
                    <h3>Integração ao contas correntes</h3>
                    <p>
                    Como o contas correntes configura o carro-chefe de um banco
                    comercial, o PD_DESENV possui interfaces de fácil programação, que
                    permitem a integração com o sistema do contas correntes
                    implantado. No conjunto de soluções da PD CASE, essa integração é
                    feita por meio do PD_CCOR – Contas Correntes.
                    </p>
                </div>
                <div class="coluna">
                    <h3>Parametrizações por demandas legais</h3>
                    <p>
                      Flexibilização das regras de negócios para atendimento tempestivo
                      às mudanças impostas pelo Governo, com facilidades de parâmetros
                      que permitem atender as necessidades da gestão do produto.
                    </p>
                </div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna">
                    <h3>Integração com o cadastro único clientes</h3>
                    <p>
                      O cliente será cadastrado no Sistema Central apenas uma vez,
                      significando que ele é unico para todas os contratos que possui.
                      No escopo das soluções da PD CASE, esta premissa está integrada ao
                      PD_CADCLI – Cadastro de Clientes, podendo ser integrada também ao
                      cadastro único da Instituição.
                    </p>
                </div>
                <div class="coluna">
                    <h3>Processamento e controle de contratos</h3>
                    <p>
                      O processamento diário é otimizado podendo ser processado por
                      agência, grupo de agências, por unidade federativa, etc.
                    </p>
                </div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Integração contábil automática</h3>
                    <p>
                      Geração de eventos contábeis para todas as partidas a serem
                      geradas pelo sistema de contabilidade implantado. No escopo das
                      soluções PD CASE, esta premissa está integrada ao
                      <a class="link" [routerLink]="['/gestao-contabil']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Contabilidade Bancária</a>.
                    </p>
                </div>
                <div class="coluna">
                    <h3>Relatórios, consultas e arquivos magnéticos sobre o produto</h3>
                    <p>
                      Disponibilização de diversos relatórios e consultas de cunho
                      legal, operacional e gerencial.
                    </p>
                </div>
            </div>
        </div>
    
</section>
</main>