<main>
    <section class="manchete">
        <div class="container">
            <h1>Central de risco de crédito</h1>
        </div>
    </section>
        <div class="container">
            <p>O BACEN exige que todas as instituições autorizadas a fornecer crédito enviem sistematicamente através de layout padrões informações sobre as operações de crédito, avais e fianças prestados e limites de crédito concedidos por instituições financeiras a pessoas físicas e jurídicas no país.</p>
        </div>
        <div class="container">
            <h3>Cumprindo Exigências</h3>
                <p>A partir de agrupamento das posições de operações de crédito por CPF/CNPJ as informações de cada contrato celebrado ou mesmo limite de crédito concedido devem ser enviados, com a adição informações derivadas do cliente e/ou operação como, modalidade, classificação de risco, fluxo de pagamentos, provisão etc.</p>
                <p>A solução permite originar dados de diversos sistemas administradores de produtos de crédito, fazendo a junção e formatação de dados de acordo com CADOC 3040 especificado pelo BACEN.</p>

        </div>
    <section>
    </section>
</main>