<main>
    <section class="manchete">
        <div class="container">
            <h1>Arrecadação</h1>
        </div>
    </section>
    <section>
            <div class="container">
                <div class="linha">
                    <div class="coluna"> 
                        <h3>Problemática</h3>
    <p>
      No atendimento de todas as demandas financeiras do dia-a-dia de
      clientes, os bancos devem oferecer todas as alternativas de
      pagamentos existentes no mercado, de forma a não endereçar seus
      clientes a acessar outros bancos para essa necessidade.
    </p>
</div>
                    <div class="coluna">
                        <h3>Solução</h3>
                        <p>
                            A ARRECADAÇÃO da PD CASE contempla todo o ciclo de entrada,
                            crítica e manutenção dos recebíveis padronizados no mercado, de
                            modo a diminuir qualquer necessidade de intervenção humana no
                            processamento de documentos.
                          </p>
                    </div>
                </div>
            </div>
    
            <div class="container">
                <h3>Ajudando a te ajudar</h3>
<p>
O modelo de relacionamento com as empresas conveniadas se baseia
na efetivação de cláusulas contratuais, que são parametrizadas em
uma única base de controle.
</p>
<p>
Os gestores devem definir todos os fluxos financeiras, inclusive
com o “Floating” desde a entrada dos recursos até a liquidação
financeira, dando ainda subsídios para reconhecimento de receitas
pelos serviços prestados.
</p>
            </div>
</section>
</main>