<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Compensação eletrônica</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <p class="texto">
                A participação na COMPE – Câmara de Compensação permite a um banco ofertar instrumentos de pagamentos de grande aceitação, e por conseqüência, ampliar a oferta de serviços a sua clientela.
                <br><br>
                A COMPENSAÇÃO ELETRÔNICA compreende os processos de formatação de arquivos transitados pela COMPE, nos quais os bancos devem estar habilitados a processar todos os formatos, agregando controles próprios aos sistemas de negócios integrados a cada tipo de documento(TD).
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Instrumentos </h3>
            <p class="texto">
                Os instrumentos definidos pela COMPE – CHEQUES, BOLETO DE COBRANÇA e DOC – são vinculados a produtos bancários, e de fácil integração a rede nacional de pagamentos gerenciada pelo BANCO DO BRASIL.    
            </p>
        </div>
        <div class="container-texto">
            <h3 class="titulo-texto"> Implementação </h3>
            <p class="texto">
                Ao implementar a COMPENSAÇÃO ELETRÔNICA, o banco pode fazer uso das bases de dados enviadas/recebidas pela COMPE, sem a necessidade de recorrer a prestadores de serviços para avaliação e manutenção de informações relacionadas ao seu negócio.    
            </p>
        </div>
    </div>
</main>
