<main>
    <section class="manchete">
        <div class="container">
            <h1>Contratos em prejuizos</h1>
        </div>
    </section>
    <section>
        <div class="container">
           <h3>CBP</h3>
            <p>
            O Banco Central estabelece algumas regras no gerenciamento dos
            contratos assumidos como prejuízo pela instituição. Existe a
            necessidade de tratamento contábil em função do tempo em
            manutenção em prejuízo, e que o mesmo esteja contido nos lote de
            prestação de contas do CADOC 3040 – Central de Risco.
          </p>
        </div>
        <div class="container">
            <h3>Renegociando</h3>
            <p>
                Na parte negocial é possível a realização de renegociações dos
                contratos de acordo com política de crédito, ou mesmo que seja
                feito pagamento de valores na forma de recuperação de crédito.
                Mesmo que a expectativa de recebimento de valores seja pequena, a
                Gestão de Carteira em Prejuízo aplica as mesmas regras de
                atualização de saldos de contratos e prestações não pagas, sendo
                os dados compartilhados com módulo de Recuperação de Crédito.
              </p>
            </div>
    
</section>
</main>