<main>
    <section class="manchete">
        <div class="container">
            <h1>Porte Cobol</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>Sua empresa busca sempre estar atualizada com as novidades do mercado mas ainda possui sistemas mainframe?</p>
            <p>Já pensou em fazer a portabilidade dos seus sistemas mas não encontra uma solução que te atenda?</p>
            <p>De mainframe unisys para plataforma baixa!</p>
            <p class="cor">Temos a solução!</p>
        </div>
    </section>
</main>