<main>
    <section class="manchete">
        <div class="container">
            <h1>Cadastro de clientes do SFN</h1>
        </div>
    </section>
    <section>
        <div class="container">
                <p>O <span class="cor-destaque">CCS</span> – Cadastro de clientes do Sistema Financeiro foi instituído pela Lei 10.701/2003 determinou ao Banco Central a manutenção de um "cadastro geral de correntistas e clientes de instituições financeiras, bem como de seus procuradores". </p>
                <p>O legislador considerou que havia dificuldades em identificar contas de depósitos e ativos mantidos no sistema financeiro por pessoas físicas e jurídicas, o que comprometia investigações e ações destinadas a combater a criminalidade.</p>
                <p>As regras relativas ao sigilo bancário e ao direito à privacidade são observadas em toda a operação do CCS. Podem requisitar os dados constantes do cadastro o Poder Judiciário, as Comissões Parlamentares de Inquérito (CPIs), o Conselho de Controle de Atividades Financeiras (Coaf) e outras autoridades, quando devidamente habilitadas e legitimadas para requisitar informações.</p>
            </div>
        <div class="container">
            <h3>Informações sobre o relacionamento dos clientes com as instituições do Sistema Financeiro Nacional contidas no cadastro</h3>
            <p>O CCS permite ainda que, por ofício eletrônico, sejam requisitados às instituições financeiras os dados de agência, número e tipos de contas do cliente. O cadastro não contém dados de valor, de movimentação financeira ou de saldos de contas/aplicações.</p>

        <p class="fonte-fraca">Fonte: Banco Central</p>
        <p><a class="link" href="http://www.bcb.gov.br/pt-br/#!/n/JUDENT">Clique aqui para mais informações </a></p>
    </div>
    </section>
</main>
