<main>
	<section class="manchete">
		<div class="container">
			<h1>Depósito judicial</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<p>O Deposito Judicial não é um produto financeiro de propósito geral, pois o uso é exclusivo de bancos publicos, e se origina de uma demanda judicial devido a desacordo contratual ou legal, quando existe uma ação de cobrança na qual o devedor não esta em acordo com o valor da demanda. Nessa situação, o poder judiciário autoriza a abertura de conta Judicial com o depósito do valor indicado pelo requerido.</p>
			<p>No trâmite de controle das contas Judiciais são mantidos as informações originadas da ação, que registra os dados relevantes sobre a origem do processo. Na gestão das contas, os saldos são remunerados de acordo taxa e/ou indexador indicado pelo Juízo, de modo a refletir periodicamente o saldo corrente em depósito.</p>
			<p>Todas as movimentações de saidas(emolumentos, resgates etc) somente são habiltadas por autorizaçao juridica, tendo registro do ato origináririo de autorização.</p>
		
		</div>
		<div class="container grid grid-2">
				<div>
					<h2>Legalmente falando</h2>
					<p>Ao Banco Central do Brasil compete exercer a fiscalização das instituições financeiras.</p>
					<p>Em relação aos depósitos judiciais, além das determinações do citado órgão, o Poder Judiciário celebra contratos com bancos e estes passam a receber os valores seguindo algumas normas administrativas que regulamentam os depósitos judiciais, em decorrência dos convênios e acordos celebrados entre as instituições financeiras e os Tribunais de Justiça de cada estado.</p>
				</div>
			<div>
				<h3>Excepcionalmente dentro das regras</h3>
				<p>O PD_DEPJUD é parte integrante da solução <a class="link" [routerLink]="['/pdBank']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">PD_BANK</a> da PD_CASE e está de acordo com as normas dos órgãos reguladores e aderente às leis Nº 11.429, de 26 de Dezembro de 2006 que revoga a lei Nº Lei no 10.482, de 3 de julho de 2002 e Lei Nº 10.819, de 16 de dezembro de 2003.</p>
			</div>
			</div>
			<div class="container">
				<h3>Direitos e benefícios</h3>
				<p class="cor-destaque">PD_DEPJUD permite:</p>
				<ul>
					<li>A instituição financeira se beneficiar da movimentação de recursos dessa natureza (financeira);</li>
					<li>O gerenciamento de um processo judicial desde a sua abertura, através do seu primeiro depósito até a sua finalização, através do encerramento;</li>
					<li>Saber todos os envolvidos nos processos, determinando assim, várias contas de aniversário controladas por pessoa demonstrando em cada lançamento de depósito o responsável pelo crédito;</li>
					<li>Informações de forma analítica e sintética referente à posição de cada processo com todos os encargos gerados e as despesas assim distribuídas.</li>
			</ul>
			</div>
			<div class="container">
				<h3>Funcionalidades</h3>
				<ul>
					<li>Tipos de Cálculos Específicos – Visão Flexibilizar os vários tipos de cálculos;</li>
					<li>Integrações com legados – a partir de Web Services, XML e outros formatos;</li>
					<li>Cadastramento de Processos – pertinentes;</li>
					<li>Cadastro de Envolvidos – ligados ao processo;</li>
					<li>Cadastro de Contas / Sub-Contas;</li>
					<li>Registro de Despesas e Custas Judiciais;</li>
					<li>Lançamento em Conta / Sub-Conta – (Dinheiro ou Cheque), registrando históricos e formando trilhas de auditoria;</li>
					<li>Relatório Movimentação diária lançamentos de uma determinada data;</li>
					<li>Relatório Saldo de Contas – por processos, comarca, juízo, envolvido;</li>
					<li>Relatório Extrato e Informações Gerenciais.</li>
				</ul>
			</div>
			<div class="container">
				<h3>Ciclo de depósitos judiciais</h3>
				<ol>
					<li>Recebe diversas guias / mandatos judiciais para cumprimento;</li>
					<li>Efetua o pré-cadastramento dos dados dos depósitos judiciais ou precatórios disponibilizado pela PD_CASE e gera arquivo de remessa;</li>
					<li>Envia arquivo ao Banco;</li>
					<li>Recepciona arquivo. Debita a conta do convenente pelo valor das guias ou aguarda o envio de TED Judicial para processamento do arquivo;</li>
					<li>Envia arquivo de retorno com o número das contas judiciais ou precatórios abertas e os dados para compor o comprovante;</li>
					<li>Recepciona arquivo de retorno. Trata o arquivo e imprime os comprovantes e os protocola junto aos Juízos demandantes.</li>
				</ol>
			</div>
	</section>
</main>