<main>
    <section class="manchete">
        <div class="container">
            <h1>Antecipação de recebíveis</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <p>A modalidade de antecipação de recebíveis é lastreada por vendas a prazo realizadas pelo tomador de crédito, onde são aplicadas regras de avaliação dos recebimentos futuros.</p>
            <p>Visando a diluição do risco de inadimplência e concentração são aplicados parâmetros de seleção, considerando faixa de vencimento, valor, limite de crédito, concentração de carteira dentre outros. Nesse contexto são permitidas simulações de saque com determinação de menor taxa de desconto.</p>
        </div>
        <div class="container">
            <h3>CIP</h3>
            <p>Para o pleno funcionamento de modalidade de antecipação de recebiveis é primordial a adesão do Domicilio Bancário da CIP, no qual existe a possibilidade de uso de certificação de recebíveis gerados por serviços externos.</p>
            <p>Para melhor entendimento do domicilio bancário <a class="link" href="https://www.cip-bancos.org.br/Paginas/Sobre.aspx">CLIQUE AQUI</a>. </p>
        </div>
    
</section>
</main>