<main>
  <section class="manchete">
    <div class="container">
      <h1>Cadastro positivo</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        A PD Case apresenta ao mercado a sua nova solução de compliance para
        adequação das instituições financeiras à lei do Cadastro Positivo. A lei
        do Cadastro Positivo tem como objetivo destacar ao mercado aqueles
        cidadãos que possuem um histórico de crédito positivo, ou seja, a
        identificação do bom pagador. Reconhecendo o bom comportamento de
        crédito do cidadão, através dos históricos ofertados pelos GBDs do
        Cadastro Positivo, a operação de crédito passa a ter um risco menor,
        consequentemente um juro menor.
      </p>
      <p>
        As instituições financeiras devem estar aptas a cumprir as disposições
        da lei do cadastro positivo até 1º de agosto de 2013.
      </p>
      <p>
        O software <span class="cor-destaque">PD_POSITIVO</span> tem como
        característica principal a modularização através de um middleware que
        garante a comunicação e a integração com os sistemas legados, bem como o
        gerenciador de banco de dados, além de uma poderosa ferramenta gerencial
        com interface amigável, tanto para o uso interno quanto para os clientes
        da Instituição, através dos canais ofertados.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Arquitetura</h3>
          <p>
            Sua arquitetura utiliza o conceito de multiplataforma, permitindo
            assim uma maior aderência ao parque tecnológico, com conceitos de
            integração através do uso de serviços web e até mesmo arquivos
            sequenciais.
          </p>
        </div>
        <div class="coluna">
          <h3>Construção</h3>
          <p>
            Sua construção é baseada em regras parametrizáveis, tornando a
            solução mais flexível tanto para gestão quanto para manutenções
            futuras, sejam elas de qualquer ordem.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
