<main>
  <section class="manchete">
    <div class="container">
      <h1>Crédito rotativo</h1>
    </div>
  </section>
  <section>
    <div class="container linha">
      <div class="coluna">
        <h3 id="h3">Cheque especial</h3>
        <p>
          A forma mais rápida e usual de ter recursos em mãos na forma de
          crédito é o cheque especial. Essa modalidade de crédito rotativo
          pressupõe uma avaliação da capacidade financeira do cliente, que
          estabelece um limite de saque pré-aprovado. Esse produto deve estar
          atrelado a uma conta corrente de livre movimentação, na qual pode ser
          sacado valor a descoberto.
        </p>
      </div>
      <div class="coluna">
        <h3 id="h3">Opções de tratamento</h3>
        <p>
          O tratamento das opções de rotativo origina do resultado final e
          diário das movimentações em conta corrente. As informações são
          acopladas nos canais de acesso da conta, na qual o cliente deve ter
          informações instantâneas das disponibilidades, taxa de juros, IOF, e
          quando houver, encargos devidos e saldo devedor.
        </p>
      </div>
    </div>
  </section>
</main>
