<main>
    <section class="manchete">
        <div class="container">
            <h1>Parcelado</h1>
        </div>
    </section>
    <div class="container">
        <h2>Empréstimo programado</h2>
        <div class="linha">
            <div class="coluna">
                <h3>Avaliando o cliente</h3>
                <p>
                    O empréstimo programado na qual é feita a avaliação da capacidade
                    de pagamento do cliente, considerando outras obrigações já
                    comprometidas, se faz através de mecanismos de projeção de
                    parcelas. A partir do valor solicitado ou pelo valor estimado de
                    cada parcela, podem ser feitas simulações de crédito, na qual são
                    determinadas as datas, os valores e os demais custos embutidos na
                    concessão.
                  </p>
                </div>
        <div class="coluna">
            <h3>PRICE e SAC</h3>
            <p>
                Os esquemas usuais de parcelamento usam os métodos PRICE e SAC.
                Essa sistemática de cálculo pode ser ajustada aos diversos canais
                de acesso de cliente oferecidos pelo banco, de modo que o próprio
                cliente possa fazer simulações prévias de valores, e numa etapa
                seguinte, de acordo com critérios de avaliação de risco, ter o
                crédito parcelado concedido.
              </p>
            </div>
    </div>
        </div>
    <section>
    </section>
</main>