<main>
    <section class="manchete">
        <div class="container">
            <h1>Cadastro de pessoas</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <h3>Controle e revisão de dados cadastrais</h3>
            <p>
                As informações cadastrais são os instrumentos essenciais para
                conhecimento dos perfis de clientes e seus relacionados. As
                práticas de negócios demandam revisões sistemáticas para
                alavancagem da oferta de novos PRODUTOS e SERVIÇOS.
              </p>
              <p>
                O CADASTRO DE PESSOAS permite parametrizar as exigências de
                informações de CLIENTES em função da intenção de contratação de
                PRODUTOS ou SERVIÇOS quando nas visitas de negócios.
              </p>
              <p>
                As informações cadastrais são os instrumentos essenciais para
                conhecimento dos perfis de clientes e seus relacionados. As
                práticas de negócios demandam revisões sistemáticas para
                alavancagem da oferta de novos PRODUTOS e SERVIÇOS.
              </p>
              <p>
                O CADASTRO DE PESSOAS permite parametrizar as exigências de
                informações de CLIENTES em função da intenção de contratação de
                PRODUTOS ou SERVIÇOS quando nas visitas de negócios.
              </p>
        </div>
        <div class="container">
            <h3>Fluxo operacional</h3>
            <p>
                O fluxo operacional é ilustrado através da figura ao lado desde a
                CONTRATAÇÃO DE PRODUTOS &amp; SERVIÇOS até após a autorização a
                continuidade de processo de cadastramento.
              </p>
              <p>
                As ÁREAS OPERACIONAIS internas devem se responsabilizar pela
                verificação e entrada dos dados de cada FLUXO CADASTRAL, que
                somente será concluído desde que obedeçam todos os requisitos
                exigíveis nos PILARES DE INFORMAÇOES.
              </p>
              <p>
                Para inicio de operacionalização de qualquer operação junto ao
                banco, a ÁREA GERENCIAL é convocada a fazer a VALIDAÇÃO E
                AUTORIZAÇÃO CADASTRAL.
              </p>     
        </div>
        <div class="container">
            <h3>Cadastro de cliente</h3>
            <p>
                O CADASTRO DE PESSOAS aplica as recomendações de segregação de
                funções realizadas no processo cadastral. Todo o trâmite cadastral
                releva os fatores de conflitos de interesses, diminuindo assim, a
                ocorrências de erros e fraudes na IDENTIFICAÇÃO.
              </p>
              <p>
                Através das requisições de LOCALIZAÇÃO, RELACIONAMENTO, OCUPAÇÃO E
                RENDA, ATIVIDADE E FATURAMENTO e PATRIMÔNIO, podem ser registradas
                todas as informações relevantes a qualquer produto.
              </p>
        </div>
        <div class="container">
            <h3>Executando o ciclo cadastral de cliente</h3>
    <p>
      A figura abaixo ilustra um exemplo do CICLO CADASTRAL desde a
      realização da entrevista gerencial, quando o CLIENTE define a
      intenção de relacionamento com o banco. Todas as etapas do ciclo
      são mantidas pelo num TRÂMITE DO PROCESSO, quando são armazenadas
      as informações de SINALIZADORES e FASES DE PERMANÊNCIA de cada
      registro.
    </p>
        </div>
        <div class="container">
            <h3>Base de informações</h3>
    <p>
      Toda a base de informações do CADASTRO DE PESSOAS permite o
      registro automático para vinculação a PRODUTOS E SERVIÇOS, que
      serve de instrumento de avaliação de reciprocidades dos clientes .
    </p>
    <p>
      A formatação de transações nos esquemas de EXIGÊNCIA, NAVEGAÇÃO e
      REVISÃO de dados resultam na adequação do PROCESSO CADASTRAL aos
      requisitos de CONTROLES INTERNOS definidos pelo COMITÊ DE
      BASILÉIA.
    </p>
        </div>

        <div class="container">
            <h2>Documentação &amp; Conformidade</h2>
            <div class="grid grid-3">
                <div class="bg-secundaria">
                    <div class="bg-terciaria margem"><h4>Manter informação</h4></div>
                    <div class="margem">
                        <p>
                            No trato das informações fornecidas pelos clientes é essencial a
                            manutenção e guarda de documentos, principalmente no modo digital,
                            que facilita a salva e recuperação a qualquer época. De acordo com
                            a relação de negócios estabelecida pode ser exigida uma maior
                            quantidade de documentos visando conhecer a situação real do
                            cliente.
                          </p>
                    </div>
                </div>
                <div class="bg-secundaria">
                    <div class="bg-terciaria margem"><h4>Documentação sistemática</h4></div>
                    <div class="margem">
                        <p>
                            A sistemática de documentação estabelece critérios de documentos
                            obrigatórios e comprobatórios, que permitem perfis distintos de
                            usuários em dar conformidade(ou não) em cada documento fornecido,
                            com alternativa de fazer anotações de deliberações, e ao mesmo
                            tempo programar revisão periódica.
                          </p>
                    </div>
                </div>
                <div class="bg-secundaria">
                    <div class="bg-terciaria margem"><h4>Problemas da inconformidade</h4></div>
                    <div class="margem">
                        <p>
                            A inconformidade ainda pode ser colocada como fator impeditivo na
                            relação de negócios através de alerta ou travas nas opções de
                            confirmação de produtos e serviços oferecidos.
                          </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>