<div class="manchete">
    <div class="container-titulo">
        <h1 class="titulo-pagina">Portal de crédito</h1>
    </div>
</div>
<main class="main">
    <div class="container-div">
        <div class="container-texto">
            <h3 class="titulo-texto"> Empréstimos e financiamento </h3>
            <p class="texto">
                A concessão de crédito é o instrumento principal das instituições financeiras para alavancagem de receitas. Porém, é a área de negócios onde existe maior risco de perdas decorrentes da inadimplência da carteira, que ocasiona em comprometimento do capital próprio. A liberação de crédito requer formas diferenciadas de tratamento das necessidades do cliente, nos quais devem ser considerados os prazos, valores solicitados, garantidas oferecidas, forma de reembolso, que requerem processos, também diferenciados para contemplação do crédito.
                <br><br>
                A abordagem pode ser feita através de empréstimos, onde o cliente tem livre escolha na aplicação do valor concedido, ou de financiamentos, na qual é requerido um estudo com foco na finalidade descrita para uso do recurso solicitado.
                <br><br>
                Os módulos a seguir descrevem de forma resumida os processos de negócios empreendidos no gerenciamento das informações, com vista a atender a gestão de carteira de crédito.
            </p>
        </div>
    </div>
    <div class="container-div">
        <div class="container-grid">
            <a [routerLink]="['/rotativo']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Rotativo</a>
            <a [routerLink]="['/parcelado']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Estruturado (Parcelado)</a>
            <a [routerLink]="['/microcredito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Microcrédito</a>
            <a [routerLink]="['/consignacao']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Consignação e controle de margem</a>
            <a [routerLink]="['/cdc']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Crédito direto ao consumidor</a>
            <a [routerLink]="['/credito-de-desenvolvimento']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Crédito de desenvolvimento</a>
            <a [routerLink]="['/antecipacao-de-recebiveis']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Antecipação de recebíveis</a>
            <a [routerLink]="['/gestao-credito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Autorização e monitoração de crédito</a>
            <a [routerLink]="['/rede-de-compras']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Rede de compras (Cartões)</a>
            <a [routerLink]="['/fundo-garantidor']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Fundo garantidor</a>
            <a [routerLink]="['/recuperacao-de-credito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Recuperação de crédito</a>
            <a [routerLink]="['/cessao-credito']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Cessão de crédito</a>
            <a [routerLink]="['/gestao-de-fundos']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Gestão de fundos</a>
            <a [routerLink]="['/credito-web']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Crédito Web</a>
            <a [routerLink]="['/garantia']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Garantias de crédito</a>
            <a [routerLink]="['/gerencial-iformativos-carteira']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Gerencial e informativos carteira</a>
            <a [routerLink]="['/contratos-prejuizo']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Gestão de carteira em prejuízo</a>
            <a [routerLink]="['/analise-e-atendimento']"  onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;" class="link-container">Análise e atendimento (Esteira de crédito)   </a>
        </div>
    </div>
</main>
