<main>
  <section class="manchete">
    <div class="container">
      <h1>Gerenciador financeiro</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <p>
        O Gerenciador Financeiro é uma aplicação no formato Web que as empresas
        podem fazer a integração de dados de sistemas internos de negócios, como
        Contas a Pagar, Contas a Receber e Folha de Pagamentos, fazendo a
        entrada de dados por transação customizada aos padrões de documento (Ex.
        boletos, tributos, TED etc.) ou através de importação de dados via
        arquivo padrão no Layout FEBRABAN.
      </p>
    </div>
    <div class="container">
      <div class="linha">
        <div class="coluna">
          <h3>Intercâmbio padrão FEBRABAN</h3>
          <p>
            O conjunto de dados é equivalente ao módulo “Intercâmbio Padrão
            FEBRABAN”, com a distinção de poder executar diretamente o processo
            de importação, com a validação dos dados sendo feita de forma
            imediata.
          </p>
        </div>
        <div class="coluna">
          <h3>Customizável</h3>
          <p>
            Nos processos de confirmação de envio de dados para submissão aos
            sistemas de negócios, podem ser feitos ajustes nos dados para
            posterior confirmação. O usuário de aprovação pode ter autorização
            superior, permitindo diferenciar quem opera as transações (Entrada
            dos dados) e quem autoriza o processamento dos dados (Aprovação).
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
