<main>
    <section class="manchete">
        <div class="container container-manchete">
            <h1>Análise e atendimento</h1>
        </div>
    </section>
    <section class="main">
        <div class="container container-texto">
            <h3>Esteira de crédito</h3>
            <p>
                A “esteira de crédito” deve ser adequada ao instrumento de análise
                que pode requerer menor ou maior número de etapas no processo de
                concessão, tendo em vista a complexidade e finalidade do crédito.
                Todas as informações nesse módulo constituem a base para
                celebração de contratos de crédito.
              </p>
              <p>
                O primeiro contato de fato do solicitante de financiamento se faz
                pelo atendimento, no qual é possível fazer uma simulação de acordo
                com intenção de aplicação do recurso a ser emprestado. Nessa fase
                nem mesmo o cadastro é requerido.
              </p>
              <p>
                Na opção do cliente por encaminhamento da solicitação é
                constituída uma sequencia de procedimento conhecido como “esteira
                de crédito”, onde áreas distintas podem participar do trâmite de
                concessão, em paralelo com as atividades de enquadramento,
                cadastro, avaliação de risco, registro de garantias, pareceres até
                que a proposta possa ser deliberada e transformada em contrato de
                crédito.
              </p>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Início da concessão de crédito</h3>
                    <p>
                      Na abordagem inicial do processo de concessão de crédito são
                      solicitados dados empíricos do mutuário, que retratam a
                      necessidade de capital. Nesse momento, a coleta de informações
                      foca o objeto do financiamento, quais as condições pretendidas e
                      como os recursos serão reembolsados.
                    </p>
                    <p>
                        O foco do atendimento visa capturar as informações sobre o
                        mutuário e o emprego do capital requerido, que pode ser ajustado
                        de acordo com os itens financiáveis previstos no PORTIFÓLIO DE
                        PRODUTOS.
                      </p>
                </div>
                <div class="coluna">
                    <h3>Metodologias</h3>
    <p>
      Através da adequação em fases pré- estabelecidas, no qual cada
      papel de atuação dentro do contexto de análise de propostas, são
      definidos roteiros padrões de entrada de dados.</p>
      <p>De forma
      sistematizada deve ser indicado o tipo de item, que relaciona os
      itens passíveis de financiamento, com a distinção entre a parte
      financiada e capital próprio do empreendedor.</p><p>Dentro do
      trâmite, havendo inconsistências, pode ser indeferida a proposta.
    </p>
</div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Contexto e resultado</h3>
    <p>
      O resultado das informações de propostas permite gerar um
      enquadramento, de acordo com as linhas de financiamento,
      propiciando alternativas de parcelamento calculadas de acordo com
      os parâmetros oriundos da
      <a class="link" [routerLink]="['/gestao-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão de crédito</a>.
    </p>
    <p>
      No contexto de avaliação do risco do cliente e propostas, os dados
      mantidos no módulo de
      <a class="link" [routerLink]="['/cadastro-de-pessoas']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Cadastro</a>, bem como as informações coletadas na propostas, podem ser
      aplicadas nos modelos de avaliação de risco.
    </p>
    <p>
      Nesse trâmite ainda são solicitadas as garantias oferecidas,
      constituindo todas as informações na análise global das propostas
      de financiamento.
    </p>
                </div>
                <div class="coluna">
                    <h3>Trâmite de propostas em análise</h3>
                    <p>
                      De acordo com a complexidade e volume financeiro das propostas
                      apresentadas são disponibilizados roteiros diferenciados, que
                      podem exigir quantidade menor ou maior de informações. Em face ao
                      enquadramento de crédito, derivados das necessidades de
                      financiamentos apresentados nas propostas são permitidos
                      simulações de parcelamento, que subsidia o cliente na tomada de
                      decisão pela melhor proposta de pagamentos.
                    </p>
                    <p>
                      Adicionalmente ao processo financeiro são previstos processos de
                      avaliação de suficiência de garantias, e ainda a verificação de
                      conformidade de documentos de habilitação de acordo com a linha de
                      financiamento selecionada.
                    </p>
</div>
            </div>
        </div>
        <div class="container container-texto">
            <div class="linha">
                <div class="coluna"> 
                    <h3>Gerenciamento de propostas</h3>
    <p>
      A figura ao lado ilustra as operações disponíveis no barramento de
      gerenciamento de propostas, no qual o analista de crédito
      visualiza as ações pertinentes a cada tipo de roteiro de análise,
      destacando as pendências exigidas no processo de concessão de
      crédito.
    </p>
    <p>
      O processo de concessão de crédito é resultado de análise
      compartilhada dos dados, onde cada perfil determinado no fluxo de
      análise indica o parecer sob sua responsabilidade.
    </p>
                </div>
                <div class="coluna">
                    <h3>Concessões</h3>
    <p>
      A indicação das liberações podem ser escalonadas de acordo com as
      fases previstas na propostas, criando ainda cronograma de
      liberações. Os dados mantidos nessa fase são objeto de composição
      da cédula contratual, e ainda determina as informações para
      efetivação de operações nos módulos de
      <a class="link" [routerLink]="['/gestao-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Gestão de crédito</a>,
      <a class="link" [routerLink]="['/cobranca-de-credito']" onclick="window.scrollTo({ top: 0, behavior: 'smooth' }); return false;">Cobrança</a>
      e Tesouraria.
    </p>
</div>
            </div>
        </div>
</section>
</main>